{
  "openapi": "3.0.3",
  "info": { "title": "tRPC OpenAPI", "version": "1.0.4" },
  "servers": [
    {
      "url": "https://eu-gcp-api.vg-stuff.com/v3",
      "description": "EU Production server"
    },
    {
      "url": "https://na-gcp-api.vg-stuff.com/v3",
      "description": "NA Production server"
    }
  ],
  "paths": {
    "/hooks/send_payment_info": {
      "post": {
        "operationId": "hooksRouter-sendPaymentInfo",
        "summary": "Send payment info hook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "object",
                    "properties": {
                      "from": { "type": "string" },
                      "to": { "type": "string" },
                      "subject": { "type": "string" }
                    },
                    "required": ["from", "to", "subject"],
                    "additionalProperties": false
                  },
                  "amount_nzd": { "type": "number" },
                  "ticket_number": { "type": "number" },
                  "secret": { "type": "string" }
                },
                "required": ["email", "amount_nzd", "ticket_number", "secret"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "success": { "type": "boolean" } },
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/hooks/create_payment_session": {
      "post": {
        "operationId": "hooksRouter-createPaymentSession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "amount_nzd": { "type": "number" },
                  "ticket_number": { "type": "number" },
                  "secret": { "type": "string" }
                },
                "required": ["email", "amount_nzd", "ticket_number", "secret"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session": {
                      "type": "object",
                      "properties": { "url": { "type": "string" } },
                      "required": ["url"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["session"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/hooks/force_json_from_llm": {
      "post": {
        "operationId": "hooksRouter-force_json_from_llm",
        "summary": "Force JSON from LLM",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "instructions": { "type": "string" },
                  "modelId": {},
                  "exampleJson": { "type": "string" },
                  "rawInput": {},
                  "isArray": { "type": "boolean" }
                },
                "required": ["instructions", "exampleJson"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "json": {},
                    "rawOutputString": { "type": "string" }
                  },
                  "required": ["rawOutputString"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/hooks/send_thank_you_email": {
      "post": {
        "operationId": "hooksRouter-sendThankYouEmail",
        "summary": "Send thank you email to extracted email address",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "object",
                    "properties": { "messagesHistory": {} },
                    "additionalProperties": false
                  },
                  "agentId": { "type": "string" },
                  "ccList": { "type": "array", "items": { "type": "string" } }
                },
                "required": ["payload", "agentId", "ccList"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "emailResults": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": { "type": "string" },
                          "status": { "type": "string" },
                          "message": { "type": "string" },
                          "emailResponse": {}
                        },
                        "required": ["email", "status", "message"],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["success", "message", "emailResults"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/leads": {
      "post": {
        "operationId": "leadsRouter-createLead",
        "summary": "Create Lead",
        "description": "Creates a new lead with the specified information",
        "tags": ["Leads"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lead": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "nullable": true,
                        "description": "The email of the lead."
                      },
                      "name": {
                        "type": "string",
                        "nullable": true,
                        "description": "The name of the lead."
                      },
                      "phone": {
                        "type": "string",
                        "nullable": true,
                        "description": "The phone number of the lead."
                      },
                      "metaData": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "The address of the lead."
                          },
                          "company": {
                            "type": "string",
                            "description": "The company of the lead."
                          },
                          "notes": {
                            "type": "string",
                            "description": "The notes of the lead."
                          },
                          "source": {
                            "type": "string",
                            "default": "chat",
                            "description": "The source of the lead."
                          }
                        },
                        "additionalProperties": false
                      },
                      "agentId": {
                        "anyOf": [{ "type": "string" }, { "type": "number" }],
                        "description": "The agent id of the lead owner."
                      }
                    },
                    "required": ["agentId"],
                    "additionalProperties": false
                  }
                },
                "required": ["lead"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "data": {}
                  },
                  "required": ["success", "message"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "get": {
        "operationId": "leadsRouter-getLeads",
        "summary": "Get Leads",
        "tags": ["Leads"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "agentId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "data": { "type": "array" }
                  },
                  "required": ["success", "message", "data"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/leads/{id}": {
      "patch": {
        "operationId": "leadsRouter-updateLead",
        "summary": "Update Lead",
        "tags": ["Leads"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lead": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "nullable": true,
                        "description": "The email of the lead."
                      },
                      "name": {
                        "type": "string",
                        "nullable": true,
                        "description": "The name of the lead."
                      },
                      "phone": {
                        "type": "string",
                        "nullable": true,
                        "description": "The phone number of the lead."
                      },
                      "metaData": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "The address of the lead."
                          },
                          "company": {
                            "type": "string",
                            "description": "The company of the lead."
                          },
                          "notes": {
                            "type": "string",
                            "description": "The notes of the lead."
                          },
                          "source": {
                            "type": "string",
                            "default": "chat",
                            "description": "The source of the lead."
                          }
                        },
                        "additionalProperties": false
                      },
                      "convoId": {
                        "anyOf": [{ "type": "string" }, { "type": "number" }],
                        "description": "The convo id of the lead."
                      },
                      "ts": {
                        "anyOf": [{ "type": "number" }, { "type": "string" }],
                        "description": "The timestamp of the lead."
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": ["lead"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "data": {}
                  },
                  "required": ["success", "message"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "delete": {
        "operationId": "leadsRouter-deleteLead",
        "summary": "Delete Lead",
        "tags": ["Leads"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" }
                  },
                  "required": ["success", "message"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "get": {
        "operationId": "leadsRouter-getLead",
        "summary": "Get Single Lead",
        "tags": ["Leads"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "data": {}
                  },
                  "required": ["success", "message"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/agents/{agentId}/leads/group": {
      "delete": {
        "operationId": "leadsRouter-deleteLeadsByGroup",
        "summary": "Delete Leads by Group",
        "tags": ["Leads"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "deletedCount": { "type": "number" }
                  },
                  "required": ["success", "message", "deletedCount"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/agents/{agentId}/leads": {
      "get": {
        "operationId": "leadsRouter-listAgentLeads",
        "summary": "Get all agent leads",
        "tags": ["leads"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "number", "minimum": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "number", "minimum": 1 }
          },
          {
            "name": "groupName",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "propertyFilter",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "leads": { "type": "array" },
                    "total": { "type": "number" },
                    "page": { "type": "number" },
                    "limit": { "type": "number" }
                  },
                  "required": ["leads", "total", "page", "limit"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "delete": {
        "operationId": "leadsRouter-deleteAgentLeads",
        "summary": "remove agent leads",
        "tags": ["leads", "delete"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "leadIds",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": { "success": { "type": "boolean" } },
                      "required": ["success"],
                      "additionalProperties": false
                    },
                    {}
                  ]
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/agents/{agentId}/leads/all": {
      "delete": {
        "operationId": "leadsRouter-deleteAllAgentLeads",
        "summary": "Delete all leads for an agent",
        "tags": ["leads", "delete", "bulk delete"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "deletedCount": { "type": "number" }
                  },
                  "required": ["success", "deletedCount"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/agents/{agentId}/leads/export": {
      "get": {
        "operationId": "leadsRouter-exportAllAgentLeads",
        "summary": "Export all leads for an agent",
        "tags": ["leads", "export", "bulk export"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "timeRange",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "not": {} },
                { "type": "string", "enum": ["all", "last30days"] }
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "leads": { "type": "array" },
                    "total": { "type": "number" }
                  },
                  "required": ["leads", "total"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/agents/{agentId}/leads/export-filtered": {
      "post": {
        "operationId": "leadsRouter-exportFilteredAgentLeads",
        "summary": "Export leads for an agent with filters applied",
        "tags": ["leads", "export", "filtered export"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupName": { "type": "string" },
                  "searchTerm": { "type": "string" },
                  "propertyFilter": { "type": "string" },
                  "timeRange": {
                    "type": "string",
                    "enum": ["all", "last30days"],
                    "default": "all"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "leads": { "type": "array" },
                    "total": { "type": "number" }
                  },
                  "required": ["leads", "total"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/agents/{agentId}/leads/bulk": {
      "post": {
        "operationId": "leadsRouter-importAgentLeads",
        "summary": "Import all leads given in the input csv file",
        "tags": ["leads", "bulk leads"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "leads": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "userEmail": { "type": "string" },
                        "userName": { "type": "string" },
                        "userPhone": { "type": "string" },
                        "userAddress": { "type": "string" },
                        "userCompany": { "type": "string" },
                        "userWebsite": { "type": "string" },
                        "notes": { "type": "string" },
                        "userProfilePic": { "type": "string" }
                      },
                      "additionalProperties": false
                    }
                  }
                },
                "required": ["leads"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "count": { "type": "number" }
                  },
                  "required": ["success"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/agents/{agentId}/magic-import-leads": {
      "post": {
        "operationId": "leadsRouter-magicImportLeads",
        "summary": "Magic import leads",
        "tags": ["agents"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rawText": { "type": "string" },
                  "leadGroupId": { "type": "string" },
                  "additionalInstructions": { "type": "string" }
                },
                "required": ["rawText"],
                "additionalProperties": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "leadsAdded": { "type": "array" }
                  },
                  "required": ["success", "leadsAdded"],
                  "additionalProperties": {}
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/agents/{agentId}/groups": {
      "post": {
        "operationId": "leadsRouter-createNewGroup",
        "summary": "Create new group for agent leads",
        "tags": ["leads group", "group", "agent groups"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupName": { "type": "string" },
                  "leads": { "type": "array" }
                },
                "required": ["groupName"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": {} } }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "get": {
        "operationId": "leadsRouter-listLeadGroups",
        "summary": "List all lead groups",
        "tags": ["lead groups", "List all groups"],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "leadCount": { "type": "number" }
                    },
                    "required": ["name", "leadCount"],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/agents/{agentId}/groups/{groupName}": {
      "put": {
        "operationId": "leadsRouter-assignToGroup",
        "summary": "assign new leads to specifiec group name",
        "tags": [
          "group name",
          "add to group",
          "assign to group",
          "add new leads"
        ],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "leadIds": { "type": "string" } },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "groupName",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "leadCount": { "type": "number" }
                  },
                  "required": ["success"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/agents/{agentId}/kb": {
      "get": {
        "operationId": "kbRouter-getAgentKBDocs",
        "summary": "Get Agent Knowledge Base",
        "tags": ["KB"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "number" }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": { "type": "number" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {},
                        "additionalProperties": true
                      }
                    },
                    "total": { "type": "number" },
                    "totalPages": { "type": "number" },
                    "currentPage": { "type": "number" }
                  },
                  "required": [
                    "success",
                    "message",
                    "data",
                    "total",
                    "totalPages",
                    "currentPage"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "post": {
        "operationId": "kbRouter-addKnowledgeBaseToAgent",
        "summary": "Add Knowledge Base",
        "tags": ["KB"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "content": { "type": "string" },
                  "metadata": {
                    "type": "object",
                    "properties": { "description": { "type": "string" } },
                    "required": ["description"],
                    "additionalProperties": false
                  },
                  "tags": { "type": "array", "items": { "type": "string" } },
                  "sourceType": {
                    "type": "string",
                    "enum": ["doc", "url", "sitemap"]
                  },
                  "refreshRate": {
                    "type": "string",
                    "enum": ["6h", "12h", "24h", "never"],
                    "default": "never"
                  },
                  "sitemapUrl": { "type": "string" },
                  "urls": { "type": "array", "items": { "type": "string" } },
                  "maxPages": { "type": "number" },
                  "scrapeContent": { "type": "boolean" }
                },
                "required": ["name", "sourceType"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "data": {}
                  },
                  "required": ["success", "message"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/agents/{agentId}/kb/stats": {
      "get": {
        "operationId": "kbRouter-getAgentKBStats",
        "summary": "Retrieve agent's knowledge base stats",
        "tags": ["KB"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "charCount": { "type": "number" },
                        "docsCount": { "type": "number" }
                      },
                      "required": ["charCount", "docsCount"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["success", "message", "data"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/agents/{agentId}/kb/{docId}": {
      "get": {
        "operationId": "kbRouter-getKBById",
        "summary": "Get a Knowledge Base by id",
        "tags": ["KB"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "data": {}
                  },
                  "required": ["success", "message"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "delete": {
        "operationId": "kbRouter-deleteAgentKBDoc",
        "summary": "Delete a KB doc",
        "tags": ["KB"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" }
                  },
                  "required": ["success", "message"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "patch": {
        "operationId": "kbRouter-updateKnowledgeBase",
        "summary": "Update Knowledge Base",
        "tags": ["KB"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "content": { "type": "string" },
                  "metadata": {
                    "type": "object",
                    "properties": { "description": { "type": "string" } },
                    "required": ["description"],
                    "additionalProperties": false
                  },
                  "tags": { "type": "array", "items": { "type": "string" } },
                  "refreshRate": {
                    "type": "string",
                    "enum": ["6h", "12h", "24h", "never"]
                  },
                  "url": { "type": "string" }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "data": {}
                  },
                  "required": ["success", "message"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/agents/{agentId}/kb/delete": {
      "post": {
        "operationId": "kbRouter-bulkDeleteAgentKBDocs",
        "summary": "Bulk delete KB documents",
        "tags": ["KB"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "docIds": { "type": "array", "items": { "type": "string" } }
                },
                "required": ["docIds"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "deletedCount": { "type": "number" }
                  },
                  "required": ["success", "message", "deletedCount"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/agents/{agentId}/tools": {
      "post": {
        "operationId": "toolRouter-addToolToAgent",
        "summary": "Add Tool",
        "tags": ["Tools"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tool": {
                    "type": "object",
                    "properties": {
                      "isDefault": {
                        "type": "boolean",
                        "description": "Indicates whether this tool is the default tool for the agent. Defaults to false if unspecified."
                      },
                      "method": {
                        "type": "string",
                        "enum": ["GET", "POST", "PUT", "PATCH"],
                        "description": "The HTTP method used by this tool. Acceptable values are 'GET', 'POST', 'PUT', or 'PATCH'. Defaults to 'POST' if unspecified."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the tool, providing a human-readable identifier for display purposes."
                      },
                      "description": {
                        "type": "string",
                        "description": "A detailed description of the tool's purpose and functionality. Helps users understand its role within the agent."
                      },
                      "serverUrl": {
                        "type": "string",
                        "description": "The server URL where the tool's operations are performed. Used for network-based integrations."
                      },
                      "serverUrlSecret": {
                        "type": "string",
                        "description": "A secret token or key associated with the server URL. Provides secure access to the tool's backend services."
                      },
                      "disabled": {
                        "type": "boolean",
                        "description": "Indicates whether the tool is currently disabled. A disabled tool cannot be used by the agent."
                      },
                      "isVapiTool": {
                        "type": "boolean",
                        "description": "Indicates whether the tool is a Virtual API (VAPI) tool. VAPI tools enable interaction with external APIs."
                      },
                      "vapiId": {
                        "type": "string",
                        "description": "A unique identifier for the VAPI associated with this tool. Used for integration with specific API endpoints."
                      },
                      "isGlobal": {
                        "type": "boolean",
                        "description": "If true, this tool is globally accessible to all nodes and agents. Overrides context-specific restrictions."
                      },
                      "toolsSettings": {},
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "A unique identifier for the field, ensuring it is distinct across the system."
                            },
                            "in": {
                              "type": "string",
                              "description": "Defines the location or context in which the field is utilized. Common values include 'query', 'body', or 'header'."
                            },
                            "type": {
                              "type": "string",
                              "enum": ["string", "number", "boolean", "system"],
                              "description": "Specifies the variable type of the field. Acceptable values include 'string', 'number', 'boolean', and 'system'."
                            },
                            "value": {
                              "description": "The current assigned value of the field. This value is optional and supports any type depending on the field's context."
                            },
                            "defaultValue": {
                              "description": "A predefined value assigned to the field when no specific value is provided. Useful for ensuring consistent behavior."
                            },
                            "key": {
                              "type": "string",
                              "description": "The unique key that identifies this tool field or variable. Often used for referencing the field programmatically."
                            },
                            "description": {
                              "type": "string",
                              "description": "A detailed explanation of the field's purpose and usage. Helps users understand the field's role in the system."
                            },
                            "required": {
                              "type": "boolean",
                              "description": "Indicates whether the presence of this field is mandatory for successful operation. Defaults to false if unspecified."
                            },
                            "reusable": {
                              "type": "boolean",
                              "description": "Denotes whether this field can be reused across multiple contexts or tools. Useful for reducing redundancy."
                            },
                            "isEnv": {
                              "type": "boolean",
                              "description": "Specifies if this field represents an environment variable, typically used for configuration or deployment."
                            },
                            "isSystem": {
                              "type": "boolean",
                              "description": "Indicates whether this field is a system-level variable, reserved for core operations or internal use."
                            },
                            "isGlobal": {
                              "type": "boolean",
                              "description": "If enabled, this field remains globally accessible to the agent across all operational contexts. Useful for global constants."
                            },
                            "agentId": {
                              "type": "string",
                              "description": "References the unique identifier of the agent associated with this field. Helps in mapping fields to specific agents."
                            },
                            "userId": {
                              "type": "string",
                              "description": "References the unique identifier of the user associated with this field. Useful for user-specific customizations."
                            }
                          },
                          "required": ["id"],
                          "additionalProperties": false
                        }
                      },
                      "channels": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "web-chat",
                            "whatsapp",
                            "instagram",
                            "telegram",
                            "discord",
                            "gb-chat",
                            "vapi",
                            "messenger",
                            "voice",
                            "telephony"
                          ]
                        },
                        "description": "The channels that the tool can be used on."
                      }
                    },
                    "required": ["name", "description"],
                    "additionalProperties": false
                  }
                },
                "required": ["tool"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": { "type": "boolean" },
                        "message": { "type": "string" },
                        "data": {
                          "type": "object",
                          "properties": {
                            "isDefault": {
                              "type": "boolean",
                              "description": "Indicates whether this tool is the default tool for the agent. Defaults to false if unspecified."
                            },
                            "method": {
                              "type": "string",
                              "enum": ["GET", "POST", "PUT", "PATCH"],
                              "description": "The HTTP method used by this tool. Acceptable values are 'GET', 'POST', 'PUT', or 'PATCH'. Defaults to 'POST' if unspecified."
                            },
                            "id": {
                              "type": "string",
                              "description": "A unique identifier for the tool. Ensures distinct identification within the system."
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the tool, providing a human-readable identifier for display purposes."
                            },
                            "description": {
                              "type": "string",
                              "description": "A detailed description of the tool's purpose and functionality. Helps users understand its role within the agent."
                            },
                            "serverUrl": {
                              "type": "string",
                              "description": "The server URL where the tool's operations are performed. Used for network-based integrations."
                            },
                            "serverUrlSecret": {
                              "type": "string",
                              "description": "A secret token or key associated with the server URL. Provides secure access to the tool's backend services."
                            },
                            "createdAt": {
                              "type": "string",
                              "description": "The timestamp when the tool was created, formatted as an ISO 8601 string. Useful for tracking tool lifecycle."
                            },
                            "updatedAt": {
                              "type": "string",
                              "description": "The timestamp when the tool was last updated, formatted as an ISO 8601 string. Useful for versioning and auditing."
                            },
                            "disabled": {
                              "type": "boolean",
                              "description": "Indicates whether the tool is currently disabled. A disabled tool cannot be used by the agent."
                            },
                            "isVapiTool": {
                              "type": "boolean",
                              "description": "Indicates whether the tool is a Virtual API (VAPI) tool. VAPI tools enable interaction with external APIs."
                            },
                            "vapiId": {
                              "type": "string",
                              "description": "A unique identifier for the VAPI associated with this tool. Used for integration with specific API endpoints."
                            },
                            "isGlobal": {
                              "type": "boolean",
                              "description": "If true, this tool is globally accessible to all nodes and agents. Overrides context-specific restrictions."
                            },
                            "variablesIds": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "An array of variable IDs associated with the tool. Each ID maps to a specific variable used by the tool."
                            },
                            "agentId": {
                              "type": "string",
                              "description": "The unique identifier of the agent associated with this tool. Helps in linking the tool to a specific agent."
                            },
                            "userId": {
                              "type": "string",
                              "description": "The unique identifier of the user associated with this tool. Used for user-specific configurations and access control."
                            },
                            "backchannellingPhrases": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "An array of phrases used for backchannel communication. These phrases help in maintaining conversational flow."
                            },
                            "toolsSettings": {},
                            "fields": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "A unique identifier for the field, ensuring it is distinct across the system."
                                  },
                                  "in": {
                                    "type": "string",
                                    "description": "Defines the location or context in which the field is utilized. Common values include 'query', 'body', or 'header'."
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "string",
                                      "number",
                                      "boolean",
                                      "system"
                                    ],
                                    "description": "Specifies the variable type of the field. Acceptable values include 'string', 'number', 'boolean', and 'system'."
                                  },
                                  "value": {
                                    "description": "The current assigned value of the field. This value is optional and supports any type depending on the field's context."
                                  },
                                  "defaultValue": {
                                    "description": "A predefined value assigned to the field when no specific value is provided. Useful for ensuring consistent behavior."
                                  },
                                  "key": {
                                    "type": "string",
                                    "description": "The unique key that identifies this tool field or variable. Often used for referencing the field programmatically."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "A detailed explanation of the field's purpose and usage. Helps users understand the field's role in the system."
                                  },
                                  "required": {
                                    "type": "boolean",
                                    "description": "Indicates whether the presence of this field is mandatory for successful operation. Defaults to false if unspecified."
                                  },
                                  "reusable": {
                                    "type": "boolean",
                                    "description": "Denotes whether this field can be reused across multiple contexts or tools. Useful for reducing redundancy."
                                  },
                                  "isEnv": {
                                    "type": "boolean",
                                    "description": "Specifies if this field represents an environment variable, typically used for configuration or deployment."
                                  },
                                  "isSystem": {
                                    "type": "boolean",
                                    "description": "Indicates whether this field is a system-level variable, reserved for core operations or internal use."
                                  },
                                  "isGlobal": {
                                    "type": "boolean",
                                    "description": "If enabled, this field remains globally accessible to the agent across all operational contexts. Useful for global constants."
                                  },
                                  "agentId": {
                                    "type": "string",
                                    "description": "References the unique identifier of the agent associated with this field. Helps in mapping fields to specific agents."
                                  },
                                  "userId": {
                                    "type": "string",
                                    "description": "References the unique identifier of the user associated with this field. Useful for user-specific customizations."
                                  }
                                },
                                "required": ["id"],
                                "additionalProperties": false
                              }
                            },
                            "channels": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "web-chat",
                                  "whatsapp",
                                  "instagram",
                                  "telegram",
                                  "discord",
                                  "gb-chat",
                                  "vapi",
                                  "messenger",
                                  "voice",
                                  "telephony"
                                ]
                              },
                              "description": "The channels that the tool can be used on."
                            }
                          },
                          "required": ["id", "name", "description"],
                          "additionalProperties": false
                        }
                      },
                      "required": ["success", "message", "data"],
                      "additionalProperties": false
                    },
                    {}
                  ]
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "get": {
        "operationId": "toolRouter-getAgentTools",
        "summary": "Get Agent Tools",
        "tags": ["Agents"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": { "type": "boolean" },
                        "message": { "type": "string" },
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "isDefault": {
                                "type": "boolean",
                                "description": "Indicates whether this tool is the default tool for the agent. Defaults to false if unspecified."
                              },
                              "method": {
                                "type": "string",
                                "enum": ["GET", "POST", "PUT", "PATCH"],
                                "description": "The HTTP method used by this tool. Acceptable values are 'GET', 'POST', 'PUT', or 'PATCH'. Defaults to 'POST' if unspecified."
                              },
                              "id": {
                                "type": "string",
                                "description": "A unique identifier for the tool. Ensures distinct identification within the system."
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the tool, providing a human-readable identifier for display purposes."
                              },
                              "description": {
                                "type": "string",
                                "description": "A detailed description of the tool's purpose and functionality. Helps users understand its role within the agent."
                              },
                              "serverUrl": {
                                "type": "string",
                                "description": "The server URL where the tool's operations are performed. Used for network-based integrations."
                              },
                              "serverUrlSecret": {
                                "type": "string",
                                "description": "A secret token or key associated with the server URL. Provides secure access to the tool's backend services."
                              },
                              "createdAt": {
                                "type": "string",
                                "description": "The timestamp when the tool was created, formatted as an ISO 8601 string. Useful for tracking tool lifecycle."
                              },
                              "updatedAt": {
                                "type": "string",
                                "description": "The timestamp when the tool was last updated, formatted as an ISO 8601 string. Useful for versioning and auditing."
                              },
                              "disabled": {
                                "type": "boolean",
                                "description": "Indicates whether the tool is currently disabled. A disabled tool cannot be used by the agent."
                              },
                              "isVapiTool": {
                                "type": "boolean",
                                "description": "Indicates whether the tool is a Virtual API (VAPI) tool. VAPI tools enable interaction with external APIs."
                              },
                              "vapiId": {
                                "type": "string",
                                "description": "A unique identifier for the VAPI associated with this tool. Used for integration with specific API endpoints."
                              },
                              "isGlobal": {
                                "type": "boolean",
                                "description": "If true, this tool is globally accessible to all nodes and agents. Overrides context-specific restrictions."
                              },
                              "variablesIds": {
                                "type": "array",
                                "items": { "type": "string" },
                                "description": "An array of variable IDs associated with the tool. Each ID maps to a specific variable used by the tool."
                              },
                              "agentId": {
                                "type": "string",
                                "description": "The unique identifier of the agent associated with this tool. Helps in linking the tool to a specific agent."
                              },
                              "userId": {
                                "type": "string",
                                "description": "The unique identifier of the user associated with this tool. Used for user-specific configurations and access control."
                              },
                              "backchannellingPhrases": {
                                "type": "array",
                                "items": { "type": "string" },
                                "description": "An array of phrases used for backchannel communication. These phrases help in maintaining conversational flow."
                              },
                              "toolsSettings": {},
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "A unique identifier for the field, ensuring it is distinct across the system."
                                    },
                                    "in": {
                                      "type": "string",
                                      "description": "Defines the location or context in which the field is utilized. Common values include 'query', 'body', or 'header'."
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "string",
                                        "number",
                                        "boolean",
                                        "system"
                                      ],
                                      "description": "Specifies the variable type of the field. Acceptable values include 'string', 'number', 'boolean', and 'system'."
                                    },
                                    "value": {
                                      "description": "The current assigned value of the field. This value is optional and supports any type depending on the field's context."
                                    },
                                    "defaultValue": {
                                      "description": "A predefined value assigned to the field when no specific value is provided. Useful for ensuring consistent behavior."
                                    },
                                    "key": {
                                      "type": "string",
                                      "description": "The unique key that identifies this tool field or variable. Often used for referencing the field programmatically."
                                    },
                                    "description": {
                                      "type": "string",
                                      "description": "A detailed explanation of the field's purpose and usage. Helps users understand the field's role in the system."
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "description": "Indicates whether the presence of this field is mandatory for successful operation. Defaults to false if unspecified."
                                    },
                                    "reusable": {
                                      "type": "boolean",
                                      "description": "Denotes whether this field can be reused across multiple contexts or tools. Useful for reducing redundancy."
                                    },
                                    "isEnv": {
                                      "type": "boolean",
                                      "description": "Specifies if this field represents an environment variable, typically used for configuration or deployment."
                                    },
                                    "isSystem": {
                                      "type": "boolean",
                                      "description": "Indicates whether this field is a system-level variable, reserved for core operations or internal use."
                                    },
                                    "isGlobal": {
                                      "type": "boolean",
                                      "description": "If enabled, this field remains globally accessible to the agent across all operational contexts. Useful for global constants."
                                    },
                                    "agentId": {
                                      "type": "string",
                                      "description": "References the unique identifier of the agent associated with this field. Helps in mapping fields to specific agents."
                                    },
                                    "userId": {
                                      "type": "string",
                                      "description": "References the unique identifier of the user associated with this field. Useful for user-specific customizations."
                                    }
                                  },
                                  "required": ["id"],
                                  "additionalProperties": false
                                }
                              },
                              "channels": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "web-chat",
                                    "whatsapp",
                                    "instagram",
                                    "telegram",
                                    "discord",
                                    "gb-chat",
                                    "vapi",
                                    "messenger",
                                    "voice",
                                    "telephony"
                                  ]
                                },
                                "description": "The channels that the tool can be used on."
                              }
                            },
                            "required": ["id", "name", "description"],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": ["success", "message", "data"],
                      "additionalProperties": false
                    },
                    {}
                  ]
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/tools/{toolId}": {
      "get": {
        "operationId": "toolRouter-getToolById",
        "summary": "Get a tool by id",
        "tags": ["Tools"],
        "security": [{ "Authorization": [] }],
        "parameters": [
          {
            "name": "toolId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": { "type": "boolean" },
                        "message": { "type": "string" },
                        "data": {
                          "type": "object",
                          "properties": {
                            "isDefault": {
                              "type": "boolean",
                              "description": "Indicates whether this tool is the default tool for the agent. Defaults to false if unspecified."
                            },
                            "method": {
                              "type": "string",
                              "enum": ["GET", "POST", "PUT", "PATCH"],
                              "description": "The HTTP method used by this tool. Acceptable values are 'GET', 'POST', 'PUT', or 'PATCH'. Defaults to 'POST' if unspecified."
                            },
                            "id": {
                              "type": "string",
                              "description": "A unique identifier for the tool. Ensures distinct identification within the system."
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the tool, providing a human-readable identifier for display purposes."
                            },
                            "description": {
                              "type": "string",
                              "description": "A detailed description of the tool's purpose and functionality. Helps users understand its role within the agent."
                            },
                            "serverUrl": {
                              "type": "string",
                              "description": "The server URL where the tool's operations are performed. Used for network-based integrations."
                            },
                            "serverUrlSecret": {
                              "type": "string",
                              "description": "A secret token or key associated with the server URL. Provides secure access to the tool's backend services."
                            },
                            "createdAt": {
                              "type": "string",
                              "description": "The timestamp when the tool was created, formatted as an ISO 8601 string. Useful for tracking tool lifecycle."
                            },
                            "updatedAt": {
                              "type": "string",
                              "description": "The timestamp when the tool was last updated, formatted as an ISO 8601 string. Useful for versioning and auditing."
                            },
                            "disabled": {
                              "type": "boolean",
                              "description": "Indicates whether the tool is currently disabled. A disabled tool cannot be used by the agent."
                            },
                            "isVapiTool": {
                              "type": "boolean",
                              "description": "Indicates whether the tool is a Virtual API (VAPI) tool. VAPI tools enable interaction with external APIs."
                            },
                            "vapiId": {
                              "type": "string",
                              "description": "A unique identifier for the VAPI associated with this tool. Used for integration with specific API endpoints."
                            },
                            "isGlobal": {
                              "type": "boolean",
                              "description": "If true, this tool is globally accessible to all nodes and agents. Overrides context-specific restrictions."
                            },
                            "variablesIds": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "An array of variable IDs associated with the tool. Each ID maps to a specific variable used by the tool."
                            },
                            "agentId": {
                              "type": "string",
                              "description": "The unique identifier of the agent associated with this tool. Helps in linking the tool to a specific agent."
                            },
                            "userId": {
                              "type": "string",
                              "description": "The unique identifier of the user associated with this tool. Used for user-specific configurations and access control."
                            },
                            "backchannellingPhrases": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "An array of phrases used for backchannel communication. These phrases help in maintaining conversational flow."
                            },
                            "toolsSettings": {},
                            "fields": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "A unique identifier for the field, ensuring it is distinct across the system."
                                  },
                                  "in": {
                                    "type": "string",
                                    "description": "Defines the location or context in which the field is utilized. Common values include 'query', 'body', or 'header'."
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "string",
                                      "number",
                                      "boolean",
                                      "system"
                                    ],
                                    "description": "Specifies the variable type of the field. Acceptable values include 'string', 'number', 'boolean', and 'system'."
                                  },
                                  "value": {
                                    "description": "The current assigned value of the field. This value is optional and supports any type depending on the field's context."
                                  },
                                  "defaultValue": {
                                    "description": "A predefined value assigned to the field when no specific value is provided. Useful for ensuring consistent behavior."
                                  },
                                  "key": {
                                    "type": "string",
                                    "description": "The unique key that identifies this tool field or variable. Often used for referencing the field programmatically."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "A detailed explanation of the field's purpose and usage. Helps users understand the field's role in the system."
                                  },
                                  "required": {
                                    "type": "boolean",
                                    "description": "Indicates whether the presence of this field is mandatory for successful operation. Defaults to false if unspecified."
                                  },
                                  "reusable": {
                                    "type": "boolean",
                                    "description": "Denotes whether this field can be reused across multiple contexts or tools. Useful for reducing redundancy."
                                  },
                                  "isEnv": {
                                    "type": "boolean",
                                    "description": "Specifies if this field represents an environment variable, typically used for configuration or deployment."
                                  },
                                  "isSystem": {
                                    "type": "boolean",
                                    "description": "Indicates whether this field is a system-level variable, reserved for core operations or internal use."
                                  },
                                  "isGlobal": {
                                    "type": "boolean",
                                    "description": "If enabled, this field remains globally accessible to the agent across all operational contexts. Useful for global constants."
                                  },
                                  "agentId": {
                                    "type": "string",
                                    "description": "References the unique identifier of the agent associated with this field. Helps in mapping fields to specific agents."
                                  },
                                  "userId": {
                                    "type": "string",
                                    "description": "References the unique identifier of the user associated with this field. Useful for user-specific customizations."
                                  }
                                },
                                "required": ["id"],
                                "additionalProperties": false
                              }
                            },
                            "channels": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "web-chat",
                                  "whatsapp",
                                  "instagram",
                                  "telegram",
                                  "discord",
                                  "gb-chat",
                                  "vapi",
                                  "messenger",
                                  "voice",
                                  "telephony"
                                ]
                              },
                              "description": "The channels that the tool can be used on."
                            }
                          },
                          "required": ["id", "name", "description"],
                          "additionalProperties": false
                        }
                      },
                      "required": ["success", "message", "data"],
                      "additionalProperties": false
                    },
                    {}
                  ]
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "patch": {
        "operationId": "toolRouter-updateTool",
        "summary": "Update Tool",
        "tags": ["Tools"],
        "security": [{ "Authorization": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tool": {
                    "type": "object",
                    "properties": {
                      "isDefault": {
                        "type": "boolean",
                        "description": "Indicates whether this tool is the default tool for the agent. Defaults to false if unspecified."
                      },
                      "method": {
                        "type": "string",
                        "enum": ["GET", "POST", "PUT", "PATCH"],
                        "description": "The HTTP method used by this tool. Acceptable values are 'GET', 'POST', 'PUT', or 'PATCH'. Defaults to 'POST' if unspecified."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the tool, providing a human-readable identifier for display purposes."
                      },
                      "description": {
                        "type": "string",
                        "description": "A detailed description of the tool's purpose and functionality. Helps users understand its role within the agent."
                      },
                      "serverUrl": {
                        "type": "string",
                        "description": "The server URL where the tool's operations are performed. Used for network-based integrations."
                      },
                      "serverUrlSecret": {
                        "type": "string",
                        "description": "A secret token or key associated with the server URL. Provides secure access to the tool's backend services."
                      },
                      "disabled": {
                        "type": "boolean",
                        "description": "Indicates whether the tool is currently disabled. A disabled tool cannot be used by the agent."
                      },
                      "isVapiTool": {
                        "type": "boolean",
                        "description": "Indicates whether the tool is a Virtual API (VAPI) tool. VAPI tools enable interaction with external APIs."
                      },
                      "vapiId": {
                        "type": "string",
                        "description": "A unique identifier for the VAPI associated with this tool. Used for integration with specific API endpoints."
                      },
                      "isGlobal": {
                        "type": "boolean",
                        "description": "If true, this tool is globally accessible to all nodes and agents. Overrides context-specific restrictions."
                      },
                      "variablesIds": {
                        "type": "array",
                        "items": { "type": "string" },
                        "description": "An array of variable IDs associated with the tool. Each ID maps to a specific variable used by the tool."
                      },
                      "toolsSettings": {},
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "A unique identifier for the field, ensuring it is distinct across the system."
                            },
                            "in": {
                              "type": "string",
                              "description": "Defines the location or context in which the field is utilized. Common values include 'query', 'body', or 'header'."
                            },
                            "type": {
                              "type": "string",
                              "enum": ["string", "number", "boolean", "system"],
                              "description": "Specifies the variable type of the field. Acceptable values include 'string', 'number', 'boolean', and 'system'."
                            },
                            "value": {
                              "description": "The current assigned value of the field. This value is optional and supports any type depending on the field's context."
                            },
                            "defaultValue": {
                              "description": "A predefined value assigned to the field when no specific value is provided. Useful for ensuring consistent behavior."
                            },
                            "key": {
                              "type": "string",
                              "description": "The unique key that identifies this tool field or variable. Often used for referencing the field programmatically."
                            },
                            "description": {
                              "type": "string",
                              "description": "A detailed explanation of the field's purpose and usage. Helps users understand the field's role in the system."
                            },
                            "required": {
                              "type": "boolean",
                              "description": "Indicates whether the presence of this field is mandatory for successful operation. Defaults to false if unspecified."
                            },
                            "reusable": {
                              "type": "boolean",
                              "description": "Denotes whether this field can be reused across multiple contexts or tools. Useful for reducing redundancy."
                            },
                            "isEnv": {
                              "type": "boolean",
                              "description": "Specifies if this field represents an environment variable, typically used for configuration or deployment."
                            },
                            "isSystem": {
                              "type": "boolean",
                              "description": "Indicates whether this field is a system-level variable, reserved for core operations or internal use."
                            },
                            "isGlobal": {
                              "type": "boolean",
                              "description": "If enabled, this field remains globally accessible to the agent across all operational contexts. Useful for global constants."
                            },
                            "agentId": {
                              "type": "string",
                              "description": "References the unique identifier of the agent associated with this field. Helps in mapping fields to specific agents."
                            },
                            "userId": {
                              "type": "string",
                              "description": "References the unique identifier of the user associated with this field. Useful for user-specific customizations."
                            }
                          },
                          "required": ["id"],
                          "additionalProperties": false
                        }
                      },
                      "channels": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "web-chat",
                            "whatsapp",
                            "instagram",
                            "telegram",
                            "discord",
                            "gb-chat",
                            "vapi",
                            "messenger",
                            "voice",
                            "telephony"
                          ]
                        },
                        "description": "The channels that the tool can be used on."
                      }
                    },
                    "required": ["name", "description"],
                    "additionalProperties": false
                  }
                },
                "required": ["tool"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "toolId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": { "type": "boolean" },
                        "message": { "type": "string" },
                        "data": {
                          "type": "object",
                          "properties": {
                            "isDefault": {
                              "type": "boolean",
[...]
