{"openapi":"3.0.3","info":{"title":"Convocore OpenAPI","description":"Full API reference for Convocore","version":"1.0.4"},"servers":[{"url":"https://eu-gcp-api.vg-stuff.com/v3","description":"EU Node.js API server"},{"url":"https://na-gcp-api.vg-stuff.com/v3","description":"NA Node.js API server"}],"paths":{"/agents":{"post":{"operationId":"createAgent","summary":"Create Agent","description":"Creates a new AI agent with the specified configuration","tags":["Agents"],"security":[{"Authorization":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"agent":{"type":"object","properties":{"title":{"type":"string","description":"**Title**: The title of the agent."},"description":{"type":"string","description":"**Description**: A brief description of the agent."},"ownerID":{"type":"string","description":"**Owner ID**: The unique identifier of the agent's owner."},"theme":{"type":"string","description":"**Theme**: The visual theme of the agent, e.g., 'blue-light' or 'custom-blue-dark'."},"voiceConfig":{"type":"object","properties":{"transcriber":{"type":"object","properties":{"speechConfig":{"type":"object","properties":{"format":{"type":"string"},"sampleRate":{"type":"number"},"language":{"type":"string"}},"additionalProperties":false},"modelId":{"type":"string"},"patienceFactor":{"type":"number"},"language":{"type":"string"},"provider":{"type":"string","enum":["deepgram","gladia","assemblyai","speechmatics","google-cloud-speech","google-live-transcription"]},"randomOptions":{},"internal":{"type":"object","properties":{"inputAudioStream":{},"debug":{"type":"boolean"}},"additionalProperties":false},"apiKey":{"type":"string"},"platformSpecific":{"type":"object","properties":{"deepgram":{"type":"object","properties":{"keywords":{"type":"array","items":{"type":"string"},"description":"Keywords to focus on in the transcription."},"language":{"type":"string"},"smart_format":{"type":"boolean"},"model":{"type":"string"},"interim_results":{"type":"boolean"},"endpointing":{"type":"number"},"no_delay":{"type":"boolean"},"autoLanguageDetection":{"type":"boolean"}},"additionalProperties":false},"assemblyai":{"type":"object","properties":{"modelId":{"type":"string"}},"required":["modelId"],"additionalProperties":false},"googleCloud":{"type":"object","properties":{"keywords":{"type":"array","items":{"type":"string"},"description":"Keywords or phrases to focus on in the transcription."},"model":{"type":"string","description":"The Google Cloud Speech model to use."},"languageCode":{"type":"string","description":"The language code for transcription."},"enableAutomaticPunctuation":{"type":"boolean","description":"Enable automatic punctuation."},"enableWordTimeOffsets":{"type":"boolean","description":"Enable word time offsets."},"maxAlternatives":{"type":"number","description":"Maximum number of recognition alternatives."},"profanityFilter":{"type":"boolean","description":"Enable profanity filter."},"speechContexts":{"type":"array","items":{"type":"object","properties":{"phrases":{"type":"array","items":{"type":"string"}},"boost":{"type":"number"}},"required":["phrases"],"additionalProperties":false},"description":"Speech contexts for better recognition."}},"additionalProperties":false}},"additionalProperties":false},"utteranceThreshold":{"type":"number"},"inputVoiceEnhancer":{"type":"boolean"}},"required":["provider"],"additionalProperties":false,"description":"**Transcriber**: The configuration options for the transcriber provider used by the agent."},"speechGen":{"allOf":[{"type":"object","properties":{"highAudioQuality":{"type":"boolean","description":"Generate highest quality audio possible, must have pro plan or higher on elevenlabs to enable your own key to work with this option."},"provider":{"type":"string","enum":["elevenlabs","deepgram","cartesia","rime-ai","openai","google-cloud","google-live","ultravox","grok-live","minimax"],"description":"Speech providers supported by the app."},"modelId":{"type":"string","description":"The model id of the speech gen."},"voiceId":{"type":"string","description":"The voice id for the speech service."},"apiKey":{"type":"string"},"region":{"type":"string"},"backgroundNoise":{"type":"string","enum":["restaurant","office","park","street"]},"punctuationBreaks":{"type":"array","items":{"type":"string"}},"platformSpecific":{"type":"object","properties":{"elevenLabs":{"type":"object","properties":{"stability":{"type":"number"},"similarity_boost":{"type":"number"},"use_speaker_boost":{"type":"boolean"},"speed":{"type":"number"},"style":{"type":"number"}},"additionalProperties":false},"playht":{"type":"object","properties":{"voiceId":{"type":"string"}},"required":["voiceId"],"additionalProperties":false},"cartesia":{"type":"object","properties":{"emotion":{"type":"string","enum":["neutral","calm","angry","content","sad","scared"]},"speed":{"type":"number"},"volume":{"type":"number"},"promptInstructions":{"type":"string"}},"additionalProperties":false},"ultravox":{"type":"object","properties":{"temperature":{"type":"number","minimum":0,"maximum":1},"speed":{"type":"number","minimum":0.7,"maximum":1.2},"voiceOverridesProvider":{"type":"string","enum":["elevenLabs","cartesia","google","inworld","lmnt"]},"elevenLabsModel":{"type":"string"},"vadSettings":{"type":"object","properties":{"turnEndpointDelay":{"type":"string"},"minimumTurnDuration":{"type":"string"},"minimumInterruptionDuration":{"type":"string"},"frameActivationThreshold":{"type":"number","minimum":0.1,"maximum":1}},"additionalProperties":false}},"additionalProperties":false},"grokLive":{"type":"object","properties":{"turnDetection":{"type":"object","properties":{"type":{"type":"string","enum":["server_vad"]},"threshold":{"type":"number","minimum":0.1,"maximum":0.9},"silence_duration_ms":{"type":"number","minimum":0},"prefix_padding_ms":{"type":"number","minimum":0}},"additionalProperties":false},"inputAudioTranscription":{"type":"object","properties":{"model":{"type":"string","default":"grok-2-audio"}},"additionalProperties":false},"audio":{"type":"object","properties":{"input":{"type":"object","properties":{"format":{"type":"object","properties":{"type":{"type":"string","enum":["audio/pcm","audio/pcmu","audio/pcma"]},"rate":{"type":"number"}},"required":["type"],"additionalProperties":false}},"additionalProperties":false},"output":{"type":"object","properties":{"format":{"type":"object","properties":{"type":{"type":"string","enum":["audio/pcm","audio/pcmu","audio/pcma"]},"rate":{"type":"number"}},"required":["type"],"additionalProperties":false}},"additionalProperties":false}},"additionalProperties":false},"enableWebSearch":{"type":"boolean"},"enableXSearch":{"type":"boolean"},"debug":{"type":"boolean"}},"additionalProperties":false}},"additionalProperties":false},"backChannelling":{"type":"boolean","description":"Whether to say umm, sure, etc.. when the user is talking for too long."},"language":{"type":"string"},"enableLongMessageBackchannelling":{"type":"boolean","description":"Whether to say umm, sure, etc.. when the user is talking for too long."},"backchannelMessages":{"type":"array","items":{"type":"string"}},"backchannelInterval":{"type":"number"},"wordsReplacements":{"type":"array","items":{"type":"object","properties":{"word":{"type":"string"},"replacement":{"type":"string"}},"required":["word","replacement"],"additionalProperties":false}}},"required":["provider"]},{"type":"object","properties":{"internal":{"type":"object","properties":{"inputTextStream":{},"audioConfig":{"type":"object","properties":{"format":{"type":"string"},"sampleRate":{"type":"number"},"channels":{"type":"number"},"language":{"type":"string"}},"required":["format","sampleRate","channels"],"additionalProperties":false},"emitOnComplete":{"type":"boolean"}},"additionalProperties":false}}}],"description":"**Speech Generation**: The configuration options for the speech generation provider used by the agent."},"config":{"type":"object","properties":{"recordAudio":{"type":"boolean"},"backgroundNoise":{"type":"string","enum":["restaurant","office","street","none"]},"enableWebCalling":{"type":"boolean"},"enableVoiceUiPresenter":{"type":"boolean"},"enableSonioxGeminiTranscription":{"type":"boolean"},"firstInputChunkUNIXMs":{"type":"number"},"firstOutputChunkUNIXMs":{"type":"number"}},"required":["recordAudio"],"additionalProperties":false,"description":"**Call Configuration**: The call configuration settings for the agent."}},"additionalProperties":false},"light":{"type":"boolean","description":"Whether to enable light mode for the agent. If set to true, the agent will not retain previous chat interactions for privacy reasons."},"enableVertex":{"type":"boolean","description":"Whether to enable Vertex AI for the agent."},"autoOpenWidget":{"type":"boolean","description":"Whether to auto-open the widget when the agent is loaded."},"createdAtUNIX":{"type":"number","description":"The timestamp when the agent was created, formatted as an ISO 8601 string. Useful for tracking tool lifecycle."},"agentPlatform":{"type":"string","description":"Specifies the platform on which the agent operates, such as web, mobile, or other environments."},"storageID":{"type":"string","description":"The identifier for the agent's storage configuration."},"VF_ENVIRONMENT_ALIAS":{"type":"string","description":"Voiceflow environment alias for runtime calls (`versionID` / v4 session). Unset defaults to `production` so existing agents keep working."},"voiceflowRuntimeMode":{"type":"string","enum":["legacy","auto","v4"],"description":"Controls which Voiceflow runtime path the agent should use."},"roundedImageURL":{"type":"string","description":"URL pointing to the rounded image asset used to visually represent the agent."},"rectangeImageURL":{"type":"string","description":"URL pointing to the rectangular image asset for the agent's branding or display."},"scrollAnimation":{"type":"boolean","description":"Indicates whether scroll animations are enabled for smooth transitions in the chat interface."},"proactiveMessage":{"type":"string","description":"A predefined message the agent sends proactively to engage users."},"chatBgURL":{"type":"string","description":"URL of the background image used in the chat interface."},"messageAggregationSeconds":{"type":"number","description":"Number of seconds the AI should wait and aggregate consecutive user messages (text + images) before triggering a single reply. Applies globally to all text-based channels (Web, WhatsApp, Instagram, Messenger, Telegram, SMS, Discord). Runtime default/floor is 5 seconds so image+follow-up text merge into one turn. Higher values further debounce; every new inbound message resets the wait timer."},"lang":{"type":"string","description":"Specifies the default language for the agent's interactions and responses."},"enableAudioSupport":{"type":"boolean","description":"Enables audio features, allowing the agent to process and respond to audio inputs."},"AITranslateTo":{"type":"string","description":"Defines the target language for AI translation during interactions."},"enableAITranslate":{"type":"boolean","description":"Activates AI-based translation for multilingual support."},"disableNoReplyListener":{"type":"boolean","description":"Disables the listener for instances where no reply is detected from the agent."},"disableHumanHandoff":{"type":"boolean","description":"Prevents the agent from escalating interactions to a human operator."},"alwaysShowHandoff":{"type":"boolean","description":"Ensures the handoff option is always visible, regardless of agent status."},"manualControl":{"type":"boolean","description":"Allows manual control over specific agent functionalities."},"enableVGHandoff":{"type":"boolean","description":"Activates VG-specific handoff mechanisms for the agent."},"enableGeoAnalytics":{"type":"boolean","description":"Enables geographic analytics to track user interactions based on location."},"hideVoiceflowAnalytics":{"type":"boolean","description":"Hides Voiceflow-specific analytics including intents, conversation flow metrics, and rating analytics."},"hideCallAnalytics":{"type":"boolean","description":"Hides voice call analytics including duration, latency, cost breakdown, call counts, and call end reasons."},"hideConversationMetrics":{"type":"boolean","description":"Hides conversation metrics including user retention, conversation length, time retention, and engagement metrics."},"hideCustomAnalytics":{"type":"boolean","description":"Hides user-created custom charts and metrics from the analytics dashboard."},"hideVapiAnalytics":{"type":"boolean","description":"Hides VAPI-specific analytics including cost tracking and voice-related metrics."},"hideFunnelAnalytics":{"type":"boolean","description":"Hides the user engagement funnel chart that tracks progression from widget views to high engagement."},"hideHandoffAnalytics":{"type":"boolean","description":"Hides handoff analytics including accepted handover count, average response time, and average handling time metrics."},"fixedHandoffPopup":{"type":"boolean","description":"Ensures the handoff popup remains fixed in the interface."},"buttonsLayout":{"type":"string","enum":["horizontal","vertical","in-footer"],"description":"Defines the layout and style of buttons in the agent's interface."},"ADVANCED_customCSS":{"type":"string","description":"Specifies advanced custom CSS for overriding the default styling of the agent's interface."},"messagesLimit":{"type":"number","description":"Sets a cap on the number of messages the agent can exchange in a single session."},"whatsappToken":{"type":"string","description":"Token for authenticating and integrating with WhatsApp services."},"whatsappNumberId":{"type":"string","description":"The ID associated with the WhatsApp number used by the agent."},"whatsappBusniessId":{"type":"string","description":"The business ID for WhatsApp integration, enabling enterprise-level features."},"whatsappCustomBridge":{"type":"object","properties":{"enabled":{"type":"boolean","description":"When enabled, inbound WhatsApp webhooks are forwarded to a developer-provided server and the returned payload is sent back through WhatsApp."},"webhookUrl":{"type":"string","description":"Developer webhook URL that receives raw WhatsApp events and returns the outgoing WhatsApp payload to send."},"forwardToDeveloper":{"type":"boolean","description":"When enabled, the raw Meta webhook payload is forwarded to the developer URL with zero alteration. The developer response is sent directly to the WhatsApp API as-is, with no normalization or processing."}},"additionalProperties":false,"description":"Developer-focused WhatsApp bridge that bypasses the built-in agent reply flow."},"waTestNumber":{"type":"string","description":"A test number used during WhatsApp integration setup or testing."},"waVerifyPassed":{"type":"boolean","description":"Indicates if WhatsApp verification was successfully completed."},"waTestPassed":{"type":"boolean","description":"Indicates if the WhatsApp integration test was successful."},"twilioSmsAccountSid":{"type":"string","description":"Twilio Account SID for SMS integration."},"twilioSmsAuthToken":{"type":"string","description":"Twilio Auth Token for SMS integration (encrypted)."},"twilioSmsPhoneNumber":{"type":"string","description":"Twilio phone number for SMS integration."},"twilioSmsMode":{"type":"string","enum":["own_account","platform_rental"],"description":"Mode for Twilio SMS - using own account or platform rental."},"twilioSmsVerified":{"type":"boolean","description":"Indicates if the Twilio SMS integration is verified."},"twilioSmsPhoneNumberSid":{"type":"string","description":"Twilio IncomingPhoneNumber SID for platform rental numbers (used for releasing)."},"twilioSmsRentalSubscriptionId":{"type":"string","description":"Stripe subscription ID for platform rental SMS number billing."},"twilioSmsRentalStatus":{"type":"string","enum":["active","pending","cancelled","past_due"],"description":"Status of the SMS number rental subscription."},"webhookUrl":{"type":"string","description":"The URL where the agent sends webhook events to external systems."},"gcloudPrivateKey":{"type":"string","description":"Private key for Google Cloud services integration."},"gcloudClientEmail":{"type":"string","description":"Client email for Google Cloud authentication."},"smartInit":{"type":"boolean","description":"Activates smart initialization features for the agent."},"UIhandoffTitle":{"type":"string","description":"Title displayed during UI handoff interactions."},"UIhandoffSubtitle":{"type":"string","description":"Subtitle displayed during UI handoff interactions."},"igVerified":{"type":"boolean","description":"Indicates if the agent's Instagram integration is verified."},"igAccessToken":{"type":"string","description":"Access token for authenticating Instagram API requests."},"showHandoffEvenIfOffline":{"type":"boolean","description":"Displays the handoff option even if the agent is offline."},"persistHandoffOnRefresh":{"type":"boolean","description":"Maintains handoff state when users refresh or close their browser tabs."},"enableBugReporting":{"type":"boolean","description":"Enables bug reporting module in the conversation's controls."},"blockInputDuringHandoffRequest":{"type":"boolean","description":"Blocks chat input when a user requests human handoff but no human has been assigned yet. Only applies to VF agents."},"disableHandoffMessages":{"type":"boolean","description":"When enabled, the system will not send automatic messages when handoff occurs (e.g., 'Now chatting with John')."},"disableHandoffStatusMessages":{"type":"boolean","description":"When enabled, the system will not send status messages during handoff transitions (e.g., 'We are connecting you to a human', 'Handoff cancelled', 'No agent was available')."},"customButtonJSON_STRING":{"type":"string","description":"JSON string defining custom buttons for the agent's interface."},"structuredSearchJobIds":{"type":"array","items":{"type":"string"},"description":"Schema-crawl job IDs indexed into Structured Search and attached to this agent."},"vg_uiEngineChannelConfig":{"type":"object","properties":{"whatsapp":{"type":"object","additionalProperties":{"type":"boolean"}},"instagram":{"type":"object","additionalProperties":{"type":"boolean"}},"messenger":{"type":"object","additionalProperties":{"type":"boolean"}},"telegram":{"type":"object","additionalProperties":{"type":"boolean"}},"web":{"type":"object","additionalProperties":{"type":"boolean"}}},"additionalProperties":false,"description":"Per-channel toggles for UI Engine message types (choice, visual, cardV2, file, …). Missing keys = enabled."},"vg_enableUIEngineForms":{"type":"boolean","description":"Enables form and input components in the UI engine for web channel."},"vg_enableUIEngineInvoice":{"type":"boolean","description":"Enables the invoice card component in the UI engine for web channel."},"vg_uiEngineInvoiceConfig":{"type":"object","properties":{"notifyOnButtonClick":{"type":"boolean","description":"When true, invoice action button clicks send a notification email to notifyEmails (chat summary + invoice + contact + convo link)."},"notifyEmails":{"type":"array","items":{"type":"string"},"description":"Recipients for invoice button-click notifications. Defaults to workspace emails in the UI; may be edited freely."}},"additionalProperties":false,"description":"Post-booking/payment notification config for the UI engine invoice card (shown under Enable UI Engine Invoice)."},"vg_enableUIEngineCalendarBooking":{"type":"boolean","description":"Enables the interactive calendar booking widget in the UI engine for web channel."},"vg_uiEngineCalendarConfig":{"type":"object","properties":{"connectionId":{"type":"string","description":"Google Calendar connection ID used for availability + booking."},"calendarId":{"type":"string","description":"Calendar ID within the connected Google account to book against."},"timezoneMode":{"anyOf":[{"type":"string","enum":["auto"]},{"type":"string","enum":["fixed"]}],"default":"auto","description":"Whether to auto-detect the visitor timezone or always use a fixed timezone."},"fixedTimezone":{"type":"string","description":"IANA timezone to use when timezoneMode is \"fixed\"."},"defaultDurationMinutes":{"type":"number","default":30,"description":"Default meeting duration in minutes."},"bufferMinutes":{"type":"number","description":"Buffer time (minutes) to leave between booked events."},"daysAhead":{"type":"number","description":"How many days ahead visitors are allowed to book."},"suggestedFields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"}},"required":["id","type","label"],"additionalProperties":false},"description":"Suggested confirmation fields (e.g. name, email) collected after a slot is picked."}},"additionalProperties":false,"description":"Configuration for the UI engine calendar booking widget (connection, duration, timezone, suggested fields)."},"translateUserResponse":{"type":"boolean"},"enableMessagingVoiceNoteReply":{"type":"boolean"},"disableTranscriptSharing":{"type":"boolean"},"nodes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","description":"A short description of what this node does and when it should be used, specially useful if the node is global or when the LLM detects automatic rerouting."},"instructions":{"type":"string","description":"What should this LLM node do."},"language":{"type":"string","description":"Preferred language code for this node responses and runtime filler/tool-status phrases (ISO-639-1, e.g. 'en', 'bg', 'es')."},"mcpServers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"url":{"type":"string"},"transport":{"type":"string","enum":["sse","http","websocket","stdio"]},"useNodeEventSource":{"type":"boolean"},"reconnect":{"type":"object","properties":{"enabled":{"type":"boolean"},"maxAttempts":{"type":"number"},"delayMs":{"type":"number"}},"additionalProperties":false},"command":{"type":"string"},"args":{"type":"array","items":{"type":"string"}},"env":{"type":"object","additionalProperties":{"type":"string"}},"cwd":{"type":"string"},"headers":{"type":"object","additionalProperties":{"type":"string"}}},"additionalProperties":false}},"voiceInstructions":{"type":"string","description":"The voice instructions for this node, will be used instead of instructions in voice channels if provided."},"isGlobal":{"type":"boolean","description":"If true, this node will be always present for the LLM"},"toolsIds":{"type":"array","items":{"type":"string"},"description":"The tools that will be available for this node"},"toolsSettings":{"type":"object","properties":{"googleCalendar":{"type":"object","properties":{"connectionId":{"type":"string"},"calendarId":{"type":"string"},"timezone":{"type":"string"},"defaultCallerTimezone":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"},"bookingMode":{"type":"string","enum":["route","union"]},"methods":{"type":"array","items":{"type":"string","enum":["create-event","check-availability","delete-event","lookup-events","update-event"]}}},"additionalProperties":false},"googleCalendarConfigs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"connectionId":{"type":"string"},"calendarId":{"type":"string"},"calendarName":{"type":"string"},"timezone":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"}},"additionalProperties":false}},"googleSheets":{"type":"object","properties":{"connectionId":{"type":"string"},"sheetId":{"type":"string"},"method":{"type":"string"},"sheetTabName":{"type":"string"},"headerRowIndex":{"type":"number"},"headerDescriptions":{"type":"object","additionalProperties":{"type":"string"}},"identifierColumn":{"type":"string"},"identityFields":{"type":"object","properties":{"phone":{"type":"string"},"email":{"type":"string"},"name":{"type":"string"},"custom":{"type":"string"},"customLabel":{"type":"string"}},"additionalProperties":false},"queryableFields":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"airtable":{"type":"object","properties":{"connectionId":{"type":"string"},"baseId":{"type":"string"},"tableId":{"type":"string"},"method":{"type":"string"},"fieldDescriptions":{"type":"object","additionalProperties":{"type":"string"}},"identifierField":{"type":"string"}},"additionalProperties":false}},"additionalProperties":false},"childrenNodes":{"type":"array","items":{"type":"object","properties":{"nodeId":{"type":"string"},"condition":{"type":"string","description":"The condition that will be checked to determine if the node should advanced to the selected node id or not or should simply loop in the current node."}},"required":["nodeId","condition"],"additionalProperties":false},"description":"The outputs of this node which the node after finishing will choose from to either advance or to keep looping in this node till it caputures or reaches one of the mentioned routers."},"llmConfig":{"type":"object","properties":{"modelId":{"type":"string","enum":["moonshotai/Kimi-K2-Instruct","moonshotai/Kimi-K3","moonshotai/Kimi-K2.6","moonshotai/Kimi-K2.5","moonshotai/Kimi-K2-Thinking","moonshotai/Kimi-K2.5-fast","zai-org/GLM-5.2","zai-org/GLM-5","zai-org/GLM-5.1","zai-org/GLM-4.7-FP8","zai-org/GLM-4.5","zai-org/GLM-4.5-Air","MiniMaxAI/MiniMax-M2.1","MiniMaxAI/MiniMax-M2.5","MiniMaxAI/MiniMax-M3","deepseek-ai/DeepSeek-V3.2","deepseek-ai/DeepSeek-V4-Pro","deepseek-ai/DeepSeek-V3.2-fast","deepseek-ai/DeepSeek-R1-0528","deepseek-ai/DeepSeek-R1-0528-fast","deepseek-ai/DeepSeek-V3-0324","deepseek-ai/DeepSeek-V3-0324-fast","Qwen/Qwen3.5-397B-A17B","Qwen/Qwen2.5-VL-72B-Instruct","Qwen/Qwen3-235B-A22B-Instruct-2507","Qwen/Qwen3-235B-A22B-Thinking-2507","Qwen/Qwen3-30B-A3B-Instruct-2507","Qwen/Qwen3-30B-A3B-Thinking-2507","Qwen/Qwen3-Coder-480B-A35B-Instruct","Qwen/Qwen3-Coder-30B-A3B-Instruct","Qwen/Qwen3-Next-80B-A3B-Thinking","Qwen/Qwen3-32B","Qwen/Qwen3-32B-fast","Qwen/Qwen2.5-Coder-7B-fast","meta-llama/Llama-3.3-70B-Instruct-fast","meta-llama/Llama-3.3-70B-Instruct","meta-llama/Meta-Llama-3.1-8B-Instruct","meta-llama/Meta-Llama-3.1-8B-Instruct-fast","nvidia/Llama-3_1-Nemotron-Ultra-253B-v1","nvidia/nemotron-3-super-120b-a12b","nvidia/NVIDIA-Nemotron-3-Nano-30B-A3B","google/gemma-3-27b-it","google/gemma-3-27b-it-fast","google/gemma-2-2b-it","google/gemma-2-9b-it-fast","openai/gpt-oss-120b","openai/gpt-oss-20b","NousResearch/Hermes-4-405B","NousResearch/Hermes-4-70B","PrimeIntellect/INTELLECT-3","gpt-5.6","gpt-5.6-terra","gpt-5.6-luna","gpt-5.4-thinking-latest","gpt-5.4","gpt-5.3-chat-latest","gpt-5.2-2025-12-11","gpt-5-chat-latest","gpt-5-2025-08-07","gpt-5-mini-2025-08-07","gpt-5-nano-2025-08-07","o1","o1-mini","o3-mini","azure-eu-gpt-4o","azure-na-gpt-4o","gpt-4o","gpt-4o-mini","gpt-4.5-preview-2025-02-27","gpt-4.1-2025-04-14","gpt-4.1-mini-2025-04-14","ft:gpt-4o-mini-2024-07-18:personal:4o-with-tools-t11:A6mByttv","gpt-3.5-turbo","grok-4.5","grok-3-fast","grok-3-mini","grok-2-latest","claude-opus-4-7","claude-opus-4-6","claude-opus-4-5-20251101","claude-opus-4-20250514","claude-sonnet-4-5-20250929","claude-haiku-4-5-20251001","claude-sonnet-4-20250514","claude-3-7-sonnet-20250219","claude-3-5-sonnet-20241022","claude-3-5-haiku-20241022","claude-3-opus-20240229","claude-3-sonnet-20240229","deepseek-chat","gemini-3.5-flash","gemini-3.1-pro-preview","gemini-3.1-flash-lite","gemini-3.1-flash-lite-preview","gemini-3-pro-preview","gemini-3-flash-preview","gemini-2.5-pro","gemini-2.5-pro-preview-03-25","gemini-2.5-pro-exp-03-25","gemini-2.5-flash","gemini-2.5-flash-lite","gemini-2.5-flash-lite-preview-09-2025","gemini-2.5-flash-preview-05-20","gemini-2.0-flash-thinking-exp-1219","gemini-2.0-flash-exp","gemini-1.5-pro","gemini-1.5-flash","gemini-1.0-pro","deepseek-r1-distill-llama-70b","meta-llama/llama-4-scout-17b-16e-instruct","meta-llama/llama-4-maverick-17b-128e-instruct","llama-3.3-70b-versatile","llama-3.1-8b-instant","llama3-70b-8192","gemma2-9b-it","gemma-4-31b-dense","gemma-4-26b-moe","gemma-7b-it","qwen-max-latest","qwen-plus-latest","qwen-turbo-latest","custom-llm"]},"temperature":{"type":"number","description":"The temperature of the LLM"},"maxTokens":{"type":"number","description":"The max tokens of the LLM"},"serviceTier":{"type":"string","enum":["default","priority"]},"reasoningEffort":{"type":"string","enum":["none","low","medium","high","xhigh","max"]},"customModelId":{"type":"string","description":"The custom model id of the LLM"},"serverUrl":{"type":"string","description":"The server url of the LLM"},"apiKey":{"type":"string","description":"The api key of the LLM"}},"required":["modelId","temperature","maxTokens"],"additionalProperties":false},"routerLlmConfig":{"type":"object","properties":{"modelId":{"type":"string","enum":["moonshotai/Kimi-K2-Instruct","moonshotai/Kimi-K3","moonshotai/Kimi-K2.6","moonshotai/Kimi-K2.5","moonshotai/Kimi-K2-Thinking","moonshotai/Kimi-K2.5-fast","zai-org/GLM-5.2","zai-org/GLM-5","zai-org/GLM-5.1","zai-org/GLM-4.7-FP8","zai-org/GLM-4.5","zai-org/GLM-4.5-Air","MiniMaxAI/MiniMax-M2.1","MiniMaxAI/MiniMax-M2.5","MiniMaxAI/MiniMax-M3","deepseek-ai/DeepSeek-V3.2","deepseek-ai/DeepSeek-V4-Pro","deepseek-ai/DeepSeek-V3.2-fast","deepseek-ai/DeepSeek-R1-0528","deepseek-ai/DeepSeek-R1-0528-fast","deepseek-ai/DeepSeek-V3-0324","deepseek-ai/DeepSeek-V3-0324-fast","Qwen/Qwen3.5-397B-A17B","Qwen/Qwen2.5-VL-72B-Instruct","Qwen/Qwen3-235B-A22B-Instruct-2507","Qwen/Qwen3-235B-A22B-Thinking-2507","Qwen/Qwen3-30B-A3B-Instruct-2507","Qwen/Qwen3-30B-A3B-Thinking-2507","Qwen/Qwen3-Coder-480B-A35B-Instruct","Qwen/Qwen3-Coder-30B-A3B-Instruct","Qwen/Qwen3-Next-80B-A3B-Thinking","Qwen/Qwen3-32B","Qwen/Qwen3-32B-fast","Qwen/Qwen2.5-Coder-7B-fast","meta-llama/Llama-3.3-70B-Instruct-fast","meta-llama/Llama-3.3-70B-Instruct","meta-llama/Meta-Llama-3.1-8B-Instruct","meta-llama/Meta-Llama-3.1-8B-Instruct-fast","nvidia/Llama-3_1-Nemotron-Ultra-253B-v1","nvidia/nemotron-3-super-120b-a12b","nvidia/NVIDIA-Nemotron-3-Nano-30B-A3B","google/gemma-3-27b-it","google/gemma-3-27b-it-fast","google/gemma-2-2b-it","google/gemma-2-9b-it-fast","openai/gpt-oss-120b","openai/gpt-oss-20b","NousResearch/Hermes-4-405B","NousResearch/Hermes-4-70B","PrimeIntellect/INTELLECT-3","gpt-5.6","gpt-5.6-terra","gpt-5.6-luna","gpt-5.4-thinking-latest","gpt-5.4","gpt-5.3-chat-latest","gpt-5.2-2025-12-11","gpt-5-chat-latest","gpt-5-2025-08-07","gpt-5-mini-2025-08-07","gpt-5-nano-2025-08-07","o1","o1-mini","o3-mini","azure-eu-gpt-4o","azure-na-gpt-4o","gpt-4o","gpt-4o-mini","gpt-4.5-preview-2025-02-27","gpt-4.1-2025-04-14","gpt-4.1-mini-2025-04-14","ft:gpt-4o-mini-2024-07-18:personal:4o-with-tools-t11:A6mByttv","gpt-3.5-turbo","grok-4.5","grok-3-fast","grok-3-mini","grok-2-latest","claude-opus-4-7","claude-opus-4-6","claude-opus-4-5-20251101","claude-opus-4-20250514","claude-sonnet-4-5-20250929","claude-haiku-4-5-20251001","claude-sonnet-4-20250514","claude-3-7-sonnet-20250219","claude-3-5-sonnet-20241022","claude-3-5-haiku-20241022","claude-3-opus-20240229","claude-3-sonnet-20240229","deepseek-chat","gemini-3.5-flash","gemini-3.1-pro-preview","gemini-3.1-flash-lite","gemini-3.1-flash-lite-preview","gemini-3-pro-preview","gemini-3-flash-preview","gemini-2.5-pro","gemini-2.5-pro-preview-03-25","gemini-2.5-pro-exp-03-25","gemini-2.5-flash","gemini-2.5-flash-lite","gemini-2.5-flash-lite-preview-09-2025","gemini-2.5-flash-preview-05-20","gemini-2.0-flash-thinking-exp-1219","gemini-2.0-flash-exp","gemini-1.5-pro","gemini-1.5-flash","gemini-1.0-pro","deepseek-r1-distill-llama-70b","meta-llama/llama-4-scout-17b-16e-instruct","meta-llama/llama-4-maverick-17b-128e-instruct","llama-3.3-70b-versatile","llama-3.1-8b-instant","llama3-70b-8192","gemma2-9b-it","gemma-4-31b-dense","gemma-4-26b-moe","gemma-7b-it","qwen-max-latest","qwen-plus-latest","qwen-turbo-latest","custom-llm"]},"temperature":{"type":"number","description":"The temperature of the LLM"},"maxTokens":{"type":"number","description":"The max tokens of the LLM"},"serviceTier":{"type":"string","enum":["default","priority"]},"reasoningEffort":{"type":"string","enum":["none","low","medium","high","xhigh","max"]},"customModelId":{"type":"string","description":"The custom model id of the LLM"},"serverUrl":{"type":"string","description":"The server url of the LLM"},"apiKey":{"type":"string","description":"The api key of the LLM"}},"required":["modelId","temperature","maxTokens"],"additionalProperties":false,"description":"The LLM config that will be used for the router node, NOTE: This must be a fast LLM model or the latency will be too high between responses."},"toolUseBias":{"type":"number","description":"The bias of the LLM to use tools if 0 it will never use tools, if 1 it will only use tools."},"autoRerouter":{"type":"object","properties":{"enabled":{"type":"boolean","description":"If true, the LLM will try to detect if the user has changed his mind about something enabling the AI to rewind back to the previous node."},"level":{"type":"number","description":"The level of rewinding, if 1 the LLM will have access to only 1 level or rewind capabilities meaning if it went from node A > B > C > D  then if it at node d & it detects it needs to be at node B again it will be able to rewind back to node B if the level is at least 2, it will not be able to detect node A unless the level is 3 or more, and so on."}},"required":["enabled","level"],"additionalProperties":false,"description":"The auto rerouter of this node."},"type":{"type":"string","enum":["start","end","default","condition","note"],"description":"The type of the node, if not provided it will be a normal LLM node."},"rf":{"description":"The position of the node in the reactflow canvas."},"kb":{"type":"object","properties":{"enabled":{"type":"boolean"},"maxChunks":{"type":"number","description":"The max chunks to retrieve per generated search query."},"maxQueries":{"type":"number","description":"The max number of search queries the runtime may generate when KB search is needed."},"tags":{"type":"array","items":{"type":"string"},"description":"The tags to use to filter the docs we search through"},"smartSearch":{"type":"boolean","description":"If true, the LLM will use the smart search to search through the docs."},"searchOnStart":{"type":"boolean","description":"If true, run KB search on the conversation start trigger to prefetch context for the opening reply. Defaults to false."}},"required":["enabled","maxChunks"],"additionalProperties":false},"conditionData":{"type":"object","properties":{"condition":{"type":"string","description":"The condition to check."}},"required":["condition"],"additionalProperties":false},"preStart":{"type":"object","properties":{"url":{"type":"string","description":"The URL to send the GET request to."},"enabled":{"type":"boolean","description":"If true, we will send a GET request to the URL before starting the node."},"testConvoIdValue":{"type":"string","description":"The value to test the URL with."}},"additionalProperties":false,"description":"The pre start tool of the node, we will send a GET request to this URL before starting the node and provide the results to the AI. GET {url}/{user_id}/{node_name}"},"startConfig":{"type":"object","properties":{"initialMessage":{"type":"string","description":"Fixed opening message for text channels when the AI speaks first. Empty/omitted = AI generates from the prompt."},"voiceInitialMessage":{"type":"string","description":"Fixed opening message for voice channels when the AI speaks first. Falls back to initialMessage when unset. Empty/omitted = AI generates from the prompt."},"initialUiMessages":{"type":"array","description":"UI Engine JSON array used as the fixed opening for text channels. Saved at design-time; no runtime generation."},"userStarts":{"type":"boolean","description":"Whether the user or AI agent gives the first message by default for text channels (and voice when no voice override is set)."},"inboundUserStarts":{"type":"boolean","description":"Optional override for inbound voice calls. When set, this replaces the default first-speaker behavior for callers who dial the agent."},"outboundUserStarts":{"type":"boolean","description":"Optional override for outbound voice calls. When set, this replaces the default first-speaker behavior for calls the agent places to someone else."},"cacheFirstResponse":{"type":"boolean","description":"Deprecated. First AI reply is cached unless preStart is enabled or variables/prompt personalization apply."}},"additionalProperties":false,"description":"Configuration for start nodes"}},"required":["id","name","description","instructions","llmConfig"],"additionalProperties":false,"description":"A node in the LLM chain."}},"enableFallback":{"type":"boolean","description":"Enable fallback for the agent llm model."},"fallbackSettings":{"type":"object","properties":{"model":{"type":"string","enum":["moonshotai/Kimi-K2-Instruct","moonshotai/Kimi-K3","moonshotai/Kimi-K2.6","moonshotai/Kimi-K2.5","moonshotai/Kimi-K2-Thinking","moonshotai/Kimi-K2.5-fast","zai-org/GLM-5.2","zai-org/GLM-5","zai-org/GLM-5.1","zai-org/GLM-4.7-FP8","zai-org/GLM-4.5","zai-org/GLM-4.5-Air","MiniMaxAI/MiniMax-M2.1","MiniMaxAI/MiniMax-M2.5","MiniMaxAI/MiniMax-M3","deepseek-ai/DeepSeek-V3.2","deepseek-ai/DeepSeek-V4-Pro","deepseek-ai/DeepSeek-V3.2-fast","deepseek-ai/DeepSeek-R1-0528","deepseek-ai/DeepSeek-R1-0528-fast","deepseek-ai/DeepSeek-V3-0324","deepseek-ai/DeepSeek-V3-0324-fast","Qwen/Qwen3.5-397B-A17B","Qwen/Qwen2.5-VL-72B-Instruct","Qwen/Qwen3-235B-A22B-Instruct-2507","Qwen/Qwen3-235B-A22B-Thinking-2507","Qwen/Qwen3-30B-A3B-Instruct-2507","Qwen/Qwen3-30B-A3B-Thinking-2507","Qwen/Qwen3-Coder-480B-A35B-Instruct","Qwen/Qwen3-Coder-30B-A3B-Instruct","Qwen/Qwen3-Next-80B-A3B-Thinking","Qwen/Qwen3-32B","Qwen/Qwen3-32B-fast","Qwen/Qwen2.5-Coder-7B-fast","meta-llama/Llama-3.3-70B-Instruct-fast","meta-llama/Llama-3.3-70B-Instruct","meta-llama/Meta-Llama-3.1-8B-Instruct","meta-llama/Meta-Llama-3.1-8B-Instruct-fast","nvidia/Llama-3_1-Nemotron-Ultra-253B-v1","nvidia/nemotron-3-super-120b-a12b","nvidia/NVIDIA-Nemotron-3-Nano-30B-A3B","google/gemma-3-27b-it","google/gemma-3-27b-it-fast","google/gemma-2-2b-it","google/gemma-2-9b-it-fast","openai/gpt-oss-120b","openai/gpt-oss-20b","NousResearch/Hermes-4-405B","NousResearch/Hermes-4-70B","PrimeIntellect/INTELLECT-3","gpt-5.6","gpt-5.6-terra","gpt-5.6-luna","gpt-5.4-thinking-latest","gpt-5.4","gpt-5.3-chat-latest","gpt-5.2-2025-12-11","gpt-5-chat-latest","gpt-5-2025-08-07","gpt-5-mini-2025-08-07","gpt-5-nano-2025-08-07","o1","o1-mini","o3-mini","azure-eu-gpt-4o","azure-na-gpt-4o","gpt-4o","gpt-4o-mini","gpt-4.5-preview-2025-02-27","gpt-4.1-2025-04-14","gpt-4.1-mini-2025-04-14","ft:gpt-4o-mini-2024-07-18:personal:4o-with-tools-t11:A6mByttv","gpt-3.5-turbo","grok-4.5","grok-3-fast","grok-3-mini","grok-2-latest","claude-opus-4-7","claude-opus-4-6","claude-opus-4-5-20251101","claude-opus-4-20250514","claude-sonnet-4-5-20250929","claude-haiku-4-5-20251001","claude-sonnet-4-20250514","claude-3-7-sonnet-20250219","claude-3-5-sonnet-20241022","claude-3-5-haiku-20241022","claude-3-opus-20240229","claude-3-sonnet-20240229","deepseek-chat","gemini-3.5-flash","gemini-3.1-pro-preview","gemini-3.1-flash-lite","gemini-3.1-flash-lite-preview","gemini-3-pro-preview","gemini-3-flash-preview","gemini-2.5-pro","gemini-2.5-pro-preview-03-25","gemini-2.5-pro-exp-03-25","gemini-2.5-flash","gemini-2.5-flash-lite","gemini-2.5-flash-lite-preview-09-2025","gemini-2.5-flash-preview-05-20","gemini-2.0-flash-thinking-exp-1219","gemini-2.0-flash-exp","gemini-1.5-pro","gemini-1.5-flash","gemini-1.0-pro","deepseek-r1-distill-llama-70b","meta-llama/llama-4-scout-17b-16e-instruct","meta-llama/llama-4-maverick-17b-128e-instruct","llama-3.3-70b-versatile","llama-3.1-8b-instant","llama3-70b-8192","gemma2-9b-it","gemma-4-31b-dense","gemma-4-26b-moe","gemma-7b-it","qwen-max-latest","qwen-plus-latest","qwen-turbo-latest","custom-llm"],"description":"The model to use for fallback."},"creditThreshold":{"type":"number","description":"The credit threshold for fallback."}},"additionalProperties":false,"description":"Fallback settings for the agent llm model."},"marketplace":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether to show the agent in marketplace or not."},"priceUSD":{"type":"number","description":"The price for the agent, default is 0/free"},"category":{"type":"string","enum":["Customer Support","Sales & Marketing","Productivity","Education","Entertainment","Other"],"description":"Category of the agent"},"creatorDisplayName":{"type":"string","description":"Custom display name for the creator in the marketplace"},"shortDescription":{"type":"string","maxLength":200,"description":"Short tagline/description shown in listing cards (max 200 chars)"},"documentation":{"type":"string","description":"Full markdown documentation explaining the agent"},"toolsDocumentation":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Name of the tool"},"description":{"type":"string","description":"Description of what the tool does"},"codeUrl":{"type":"string","description":"URL to the tool code/repository"},"docsUrl":{"type":"string","description":"URL to external documentation"},"setupInstructions":{"type":"string","description":"How to set up/configure the tool"}},"required":["name","description"],"additionalProperties":false},"description":"Documentation for tools included with the agent"},"tags":{"type":"array","items":{"type":"string"},"description":"Tags for discoverability"},"screenshots":{"type":"array","items":{"type":"string"},"description":"Array of screenshot URLs"},"demoUrl":{"type":"string","description":"Link to live demo"},"videoUrl":{"type":"string","description":"Link to demo/tutorial video"},"version":{"type":"string","description":"Version of the agent listing"},"changelog":{"type":"string","description":"Changelog/update history"},"supportEmail":{"type":"string","description":"Support contact email"},"listedAt":{"type":"number","description":"Unix timestamp when first listed"},"updatedAt":{"type":"number","description":"Unix timestamp of last update"},"allowCanvasPreview":{"type":"boolean","description":"Whether to allow users to preview the agent canvas/workflow"},"allowTryAgent":{"type":"boolean","default":true,"description":"Whether to allow users to try the agent widget"},"likeCount":{"type":"number","default":0,"description":"Total number of likes for this agent"},"downloadCount":{"type":"number","default":0,"description":"Total number of downloads/installs for this agent"}},"additionalProperties":false,"description":"Marketplace settings for the agent."},"disableRating":{"type":"boolean","description":"Whether to disable the chat end rating feature."},"chatEndMessage":{"type":"string","description":"The message to show when the chat ends."},"aiIntroductionMessage":{"type":"string","description":"The message to show when the user starts the chat on metachannels."},"enableAIIntroductionMessage":{"type":"boolean","description":"Whether to enable the AI introduction message or not."},"deployed":{"type":"boolean","description":"Whether the agent is deployed or not."},"captureIGStories":{"type":"boolean","description":"Whether to capture instagram stories or not."},"gdprCompliance":{"type":"boolean","description":"Whether to comply with GDPR or not."},"disableFileUpload":{"type":"boolean"},"buttonVariant":{"type":"string","enum":["custom","solid","bordered","light","flat","faded","shadow","ghost"],"description":"The variant of the button. Custom is the default original styling."},"buttonColor":{"type":"string","enum":["default","primary","secondary","success","warning","danger"],"description":"NextUI Button color token for choice/CTA/send buttons."},"buttonSize":{"type":"string","enum":["sm","md","lg"],"description":"NextUI Button size token."},"buttonRadius":{"type":"string","enum":["none","sm","md","lg","full"],"description":"NextUI Button radius token."},"disableButtonAnimation":{"type":"boolean","description":"When true, disables NextUI button press-scale animation."},"disableButtonRipple":{"type":"boolean","description":"When true, disables NextUI button ripple."},"inputVariant":{"type":"string","enum":["custom","flat","bordered","faded","underlined"],"description":"Chat footer input variant. Default when unset: flat."},"inputColor":{"type":"string","enum":["default","primary","secondary","success","warning","danger"],"description":"NextUI Input color. Default when unset: primary."},"inputSize":{"type":"string","enum":["sm","md","lg"],"description":"NextUI Input size token."},"inputRadius":{"type":"string","enum":["none","sm","md","lg","full"],"description":"NextUI Input radius token."},"disableInputAnimation":{"type":"boolean","description":"When true, disables NextUI input focus/label animations."},"bubbleStyle":{"type":"object","properties":{"humanRadius":{"type":"string","enum":["sm","md","lg","full"]},"botRadius":{"type":"string","enum":["sm","md","lg","full"]},"humanTone":{"type":"string","enum":["primary","primarySoft","secondary","success","default","content1"],"description":"Color/look of human (user) chat bubbles."},"botTone":{"type":"string","enum":["content2","content1","flat"]},"density":{"type":"string","enum":["compact","comfortable","spacious"],"description":"Padding + text tightness for both human and bot bubbles. compact = tighter, spacious = roomier."}},"additionalProperties":false,"description":"Chat bubble appearance overrides for human/bot messages."},"privacyDisclaimer":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether to show privacy disclaimer before user interaction"},"text":{"type":"string","description":"The privacy disclaimer text to display to users"},"privacyPolicyUrl":{"type":"string","description":"URL to the privacy policy page"},"acceptButtonLabel":{"type":"string","description":"Label for the accept/proceed button"},"privacyPolicyButtonLabel":{"type":"string","description":"Label for the privacy policy link button"}},"additionalProperties":false,"description":"Privacy disclaimer configuration for the agent"},"leadCollectionRules":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether to use custom lead collection rules. If false or not set, uses default behavior (collect when email, phone_number, or phone is present)"},"rules":{"type":"array","items":{"type":"object","properties":{"variables":{"type":"array","items":{"type":"string"},"description":"Array of variable names that must ALL be present for this rule to match (AND condition)"},"description":{"type":"string","description":"Optional description of what this rule captures"}},"required":["variables"],"additionalProperties":false},"description":"Array of rule sets. A lead is collected if it matches ANY rule set (OR condition between rules). Each rule requires ALL its variables to be present (AND condition within a rule)."}},"additionalProperties":false,"description":"Custom lead collection rules. Allows defining which variable combinations should trigger lead capture. If not set, defaults to collecting leads when email, phone_number, or phone is present."},"identityResolutionSettings":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether cross-channel identity linking is enabled. Defaults to true (on) when unset."},"scope":{"type":"string","enum":["agent","workspace"],"description":"Identity linking scope. Default agent — only link convos within this agent."},"softMatchEnabled":{"type":"boolean","description":"v2 scaffold: allow confirmation-gated soft matching. Disabled by default."}},"additionalProperties":false,"description":"Cross-channel identity resolution settings"},"emailConfig":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether email channel is enabled for this agent"},"assignedEmails":{"type":"array","items":{"type":"object","properties":{"provider":{"type":"string","enum":["google","outlook","zoho","smtp"],"description":"Email provider (google, outlook, zoho, or smtp)"},"connectionId":{"type":"string","description":"ID of the email connection from workspace"},"email":{"type":"string","description":"Email address for display purposes"},"replyDelay":{"type":"number","default":0,"description":"Legacy delay in seconds before replying to an email"},"replyDelayMinutes":{"type":"number","default":0,"description":"Delay in minutes before AI replies. 0 means instant reply."},"whenToReply":{"type":"string","enum":["always","keywords","sentiment","manual"],"default":"always","description":"When to reply: always (all emails), keywords (containing specific words), sentiment (based on tone), manual (require approval)"},"replyRule":{"type":"string","default":"","description":"Hard rule written by the user describing when the AI should reply on this email connection."},"humanNotifyRule":{"type":"string","default":"","description":"Hard rule written by the user describing when the AI should notify a human while still continuing the email reply."},"notifyWorkspaceOwners":{"type":"boolean","default":true,"description":"Whether human escalation notifications for this email assignment should default to workspace owners."},"humanTakeoverEnabled":{"type":"boolean","default":false,"description":"Whether AI may retake ownership of a human-owned email thread after a timeout."},"humanTakeoverTimeoutMinutes":{"type":"number","default":0,"description":"Minutes to wait before AI retakes a human-owned thread. 0 disables automatic retake."},"replyLength":{"type":"string","enum":["short","medium","long","auto"],"default":"auto","description":"Length of replies: short (1-2 paragraphs), medium (2-4 paragraphs), long (4+ paragraphs), auto (match incoming email)"},"replyTone":{"type":"string","enum":["professional","friendly","casual","formal","empathetic","concise","enthusiastic"],"default":"professional","description":"Tone of the email replies"}},"required":["provider","connectionId","email"],"additionalProperties":false},"description":"Array of configured email accounts with their specific settings"}},"additionalProperties":false,"description":"Email channel configuration for the agent"},"inboundEngagement":{"type":"object","properties":{"enabled":{"type":"boolean"},"channels":{"type":"array","items":{"type":"string","enum":["whatsapp","email","messenger","instagram","telegram","discord","sms","web-chat"]}},"matchMode":{"type":"string","enum":["always_reply_regardless","phrases_only","ai_only","phrases_then_ai"]},"aiRule":{"type":"string","description":"Natural-language rule that decides whether AI should reply to the inbound message."},"aiModelId":{"type":"string","description":"Model used for AI-powered inbound reply decisions."},"triggerPhrases":{"type":"array","items":{"type":"string"},"description":"Exact user-defined phrases or tags that can trigger an immediate AI reply without using the AI gate."},"availability":{"type":"object","properties":{"enabled":{"type":"boolean"},"timezone":{"type":"string"},"days":{"type":"array","items":{"type":"string","enum":["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]}},"startTime":{"type":"string","pattern":"^([01]\\d|2[0-3]):([0-5]\\d)$"},"endTime":{"type":"string","pattern":"^([01]\\d|2[0-3]):([0-5]\\d)$"}},"additionalProperties":false},"applyWhen":{"type":"string","enum":["every_message","first_message_only"]},"afterOwnershipMode":{"type":"string","enum":["always_reply","continue_rules"]},"participantListMode":{"type":"string","enum":["none","allowlist","denylist"]},"participantList":{"type":"array","items":{"type":"string"},"description":"Participant identifiers that should be explicitly allowed or denied before any phrase or AI rule runs."},"analyzeAttachmentsBeforeDecision":{"type":"boolean"},"enableHumanHandoffTool":{"type":"boolean"}},"additionalProperties":false,"description":"Reusable inbound engagement policy used to decide whether the AI should reply on channels like WhatsApp and email."},"autoTest":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether auto-testing is enabled for this agent"},"triggerOnEdit":{"type":"boolean","description":"Automatically run tests after agent edits"},"testMode":{"type":"string","enum":["full","prompt-only","with-tools","with-kb","tools-only","kb-only"],"description":"Test mode configuration"},"maxTurns":{"type":"number","description":"Maximum number of conversation turns (undefined = natural end)"},"naturalEnd":{"type":"boolean","description":"Allow AI to naturally end the conversation"},"testScenario":{"type":"string","description":"Default test scenario/context for auto-tests"},"enabledToolIds":{"type":"array","items":{"type":"string"},"description":"Specific tool IDs to include in tests"},"enableKB":{"type":"boolean","description":"Whether to test knowledge base"}},"additionalProperties":false,"description":"Auto-test configuration for automatic testing after agent edits"},"langsmithConfig":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether LangSmith tracing is enabled for this agent"},"apiKey":{"type":"string","description":"LangSmith API Key (Service Key recommended)"},"projectName":{"type":"string","description":"LangSmith project name where traces will be logged"},"endpoint":{"type":"string","description":"LangSmith API endpoint (defaults to https://api.smith.langchain.com)"}},"additionalProperties":false,"description":"LangSmith tracing configuration for this agent. If set, overrides workspace-level LangSmith settings."},"funnelConfig":{"type":"object","properties":{"enabled":{"type":"boolean","default":false},"steps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"condition":{"type":"string","description":"Natural language condition for LLM to evaluate"},"points":{"type":"number","minimum":0,"maximum":100},"enabled":{"type":"boolean","default":true},"category":{"type":"string","enum":["contact_info","intent","budget","timeline","qualification","custom"]}},"required":["id","name","description","condition","points"],"additionalProperties":false},"default":[]},"notificationRules":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"enabled":{"type":"boolean","default":true},"type":{"type":"string","enum":["score_threshold","steps_completed","data_collected"]},"scoreThreshold":{"type":"number"},"requiredSteps":{"type":"array","items":{"type":"string"}},"requiredFields":{"type":"array","items":{"type":"string"}},"cooldownStrategy":{"type":"string","enum":["immediate","once_per_threshold","once_per_lead","once_per_session"]},"recipients":{"type":"array","items":{"type":"string"},"description":"Email addresses to notify"},"emailTemplate":{"type":"string"},"requireContactInfo":{"type":"boolean","default":true,"description":"Whether to require email/phone before sending notification"}},"required":["id","name","type","cooldownStrategy","recipients"],"additionalProperties":false},"default":[]},"maxScore":{"type":"number","default":100},"evaluateOnUserMessage":{"type":"boolean","default":true},"evaluateOnAIMessage":{"type":"boolean","default":true}},"additionalProperties":false,"description":"AI Funnel & Lead Scoring configuration for this agent"},"webControlConfig":{"type":"object","properties":{"enabled":{"type":"boolean"},"allowEval":{"type":"boolean"},"allowScreenshare":{"type":"boolean"},"rememberConsentForSession":{"type":"boolean"},"screenshareMaxFps":{"type":"number"}},"additionalProperties":false,"description":"Web-Control tool configuration (vg in-house agents on web-chat only). Controls per-action consent, opt-in eval, and screenshare permission for the visitor-facing browser-control tool family."},"customTheme":{"type":"object","properties":{"themeType":{"type":"string","description":"The type of theme to use for the agent"},"primary":{"type":"string","description":"The primary color to use for the agent"},"nineColorPallet":{"type":"array","description":"The nine color pallet to use for the agent"}},"additionalProperties":false}},"additionalProperties":false}},"required":["agent"],"additionalProperties":false},"example":{"agent":{"title":"My Customer Service Agent","description":"An AI agent that handles customer inquiries","nodes":[],"ownerID":"workspace_123","lastModified":1234567890,"SECRET_API_KEY":"vg_abcdef123456"}}}}},"parameters":[],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object","properties":{"title":{"type":"string","description":"**Title**: The title of the agent."},"description":{"type":"string","description":"**Description**: A brief description of the agent."},"ownerID":{"type":"string","description":"**Owner ID**: The unique identifier of the agent's owner."},"theme":{"type":"string","description":"**Theme**: The visual theme of the agent, e.g., 'blue-light' or 'custom-blue-dark'."},"voiceConfig":{"type":"object","properties":{"transcriber":{"type":"object","properties":{"speechConfig":{"type":"object","properties":{"format":{"type":"string"},"sampleRate":{"type":"number"},"language":{"type":"string"}},"additionalProperties":false},"modelId":{"type":"string"},"patienceFactor":{"type":"number"},"language":{"type":"string"},"provider":{"type":"string","enum":["deepgram","gladia","assemblyai","speechmatics","google-cloud-speech","google-live-transcription"]},"randomOptions":{},"internal":{"type":"object","properties":{"inputAudioStream":{},"debug":{"type":"boolean"}},"additionalProperties":false},"apiKey":{"type":"string"},"platformSpecific":{"type":"object","properties":{"deepgram":{"type":"object","properties":{"keywords":{"type":"array","items":{"type":"string"},"description":"Keywords to focus on in the transcription."},"language":{"type":"string"},"smart_format":{"type":"boolean"},"model":{"type":"string"},"interim_results":{"type":"boolean"},"endpointing":{"type":"number"},"no_delay":{"type":"boolean"},"autoLanguageDetection":{"type":"boolean"}},"additionalProperties":false},"assemblyai":{"type":"object","properties":{"modelId":{"type":"string"}},"required":["modelId"],"additionalProperties":false},"googleCloud":{"type":"object","properties":{"keywords":{"type":"array","items":{"type":"string"},"description":"Keywords or phrases to focus on in the transcription."},"model":{"type":"string","description":"The Google Cloud Speech model to use."},"languageCode":{"type":"string","description":"The language code for transcription."},"enableAutomaticPunctuation":{"type":"boolean","description":"Enable automatic punctuation."},"enableWordTimeOffsets":{"type":"boolean","description":"Enable word time offsets."},"maxAlternatives":{"type":"number","description":"Maximum number of recognition alternatives."},"profanityFilter":{"type":"boolean","description":"Enable profanity filter."},"speechContexts":{"type":"array","items":{"type":"object","properties":{"phrases":{"type":"array","items":{"type":"string"}},"boost":{"type":"number"}},"required":["phrases"],"additionalProperties":false},"description":"Speech contexts for better recognition."}},"additionalProperties":false}},"additionalProperties":false},"utteranceThreshold":{"type":"number"},"inputVoiceEnhancer":{"type":"boolean"}},"required":["provider"],"additionalProperties":false,"description":"**Transcriber**: The configuration options for the transcriber provider used by the agent."},"speechGen":{"allOf":[{"type":"object","properties":{"highAudioQuality":{"type":"boolean","description":"Generate highest quality audio possible, must have pro plan or higher on elevenlabs to enable your own key to work with this option."},"provider":{"type":"string","enum":["elevenlabs","deepgram","cartesia","rime-ai","openai","google-cloud","google-live","ultravox","grok-live","minimax"],"description":"Speech providers supported by the app."},"modelId":{"type":"string","description":"The model id of the speech gen."},"voiceId":{"type":"string","description":"The voice id for the speech service."},"apiKey":{"type":"string"},"region":{"type":"string"},"backgroundNoise":{"type":"string","enum":["restaurant","office","park","street"]},"punctuationBreaks":{"type":"array","items":{"type":"string"}},"platformSpecific":{"type":"object","properties":{"elevenLabs":{"type":"object","properties":{"stability":{"type":"number"},"similarity_boost":{"type":"number"},"use_speaker_boost":{"type":"boolean"},"speed":{"type":"number"},"style":{"type":"number"}},"additionalProperties":false},"playht":{"type":"object","properties":{"voiceId":{"type":"string"}},"required":["voiceId"],"additionalProperties":false},"cartesia":{"type":"object","properties":{"emotion":{"type":"string","enum":["neutral","calm","angry","content","sad","scared"]},"speed":{"type":"number"},"volume":{"type":"number"},"promptInstructions":{"type":"string"}},"additionalProperties":false},"ultravox":{"type":"object","properties":{"temperature":{"type":"number","minimum":0,"maximum":1},"speed":{"type":"number","minimum":0.7,"maximum":1.2},"voiceOverridesProvider":{"type":"string","enum":["elevenLabs","cartesia","google","inworld","lmnt"]},"elevenLabsModel":{"type":"string"},"vadSettings":{"type":"object","properties":{"turnEndpointDelay":{"type":"string"},"minimumTurnDuration":{"type":"string"},"minimumInterruptionDuration":{"type":"string"},"frameActivationThreshold":{"type":"number","minimum":0.1,"maximum":1}},"additionalProperties":false}},"additionalProperties":false},"grokLive":{"type":"object","properties":{"turnDetection":{"type":"object","properties":{"type":{"type":"string","enum":["server_vad"]},"threshold":{"type":"number","minimum":0.1,"maximum":0.9},"silence_duration_ms":{"type":"number","minimum":0},"prefix_padding_ms":{"type":"number","minimum":0}},"additionalProperties":false},"inputAudioTranscription":{"type":"object","properties":{"model":{"type":"string","default":"grok-2-audio"}},"additionalProperties":false},"audio":{"type":"object","properties":{"input":{"type":"object","properties":{"format":{"type":"object","properties":{"type":{"type":"string","enum":["audio/pcm","audio/pcmu","audio/pcma"]},"rate":{"type":"number"}},"required":["type"],"additionalProperties":false}},"additionalProperties":false},"output":{"type":"object","properties":{"format":{"type":"object","properties":{"type":{"type":"string","enum":["audio/pcm","audio/pcmu","audio/pcma"]},"rate":{"type":"number"}},"required":["type"],"additionalProperties":false}},"additionalProperties":false}},"additionalProperties":false},"enableWebSearch":{"type":"boolean"},"enableXSearch":{"type":"boolean"},"debug":{"type":"boolean"}},"additionalProperties":false}},"additionalProperties":false},"backChannelling":{"type":"boolean","description":"Whether to say umm, sure, etc.. when the user is talking for too long."},"language":{"type":"string"},"enableLongMessageBackchannelling":{"type":"boolean","description":"Whether to say umm, sure, etc.. when the user is talking for too long."},"backchannelMessages":{"type":"array","items":{"type":"string"}},"backchannelInterval":{"type":"number"},"wordsReplacements":{"type":"array","items":{"type":"object","properties":{"word":{"type":"string"},"replacement":{"type":"string"}},"required":["word","replacement"],"additionalProperties":false}}},"required":["provider"]},{"type":"object","properties":{"internal":{"type":"object","properties":{"inputTextStream":{},"audioConfig":{"type":"object","properties":{"format":{"type":"string"},"sampleRate":{"type":"number"},"channels":{"type":"number"},"language":{"type":"string"}},"required":["format","sampleRate","channels"],"additionalProperties":false},"emitOnComplete":{"type":"boolean"}},"additionalProperties":false}}}],"description":"**Speech Generation**: The configuration options for the speech generation provider used by the agent."},"config":{"type":"object","properties":{"recordAudio":{"type":"boolean"},"backgroundNoise":{"type":"string","enum":["restaurant","office","street","none"]},"enableWebCalling":{"type":"boolean"},"enableVoiceUiPresenter":{"type":"boolean"},"enableSonioxGeminiTranscription":{"type":"boolean"},"firstInputChunkUNIXMs":{"type":"number"},"firstOutputChunkUNIXMs":{"type":"number"}},"required":["recordAudio"],"additionalProperties":false,"description":"**Call Configuration**: The call configuration settings for the agent."}},"additionalProperties":false},"light":{"type":"boolean","description":"Whether to enable light mode for the agent. If set to true, the agent will not retain previous chat interactions for privacy reasons."},"enableVertex":{"type":"boolean","description":"Whether to enable Vertex AI for the agent."},"autoOpenWidget":{"type":"boolean","description":"Whether to auto-open the widget when the agent is loaded."},"createdAtUNIX":{"type":"number","description":"The timestamp when the agent was created, formatted as an ISO 8601 string. Useful for tracking tool lifecycle."},"disabled":{"type":"boolean","description":"Indicates whether the agent is disabled. If set to true, the agent will not be active."},"vectorDb":{"description":"Specifies the vector database configuration for the agent. This database is used for handling vectorized data or embeddings."},"withRefresh":{"type":"boolean","description":"Determines whether the agent should refresh its settings or data dynamically."},"agentPlatform":{"type":"string","description":"Specifies the platform on which the agent operates, such as web, mobile, or other environments."},"ID":{"type":"string","description":"A unique identifier for the agent used internally."},"storageID":{"type":"string","description":"The identifier for the agent's storage configuration."},"VF_DIALOGUE_API_KEY":{"type":"string","description":"API key for VF dialogue integration, enabling the agent to communicate with external systems."},"VF_PROJECT_API_KEY":{"type":"string","description":"API key associated with the VF project to authenticate and enable specific functionalities."},"VF_PROJECT_ID":{"type":"string","description":"The unique identifier of the VF project linked to the agent."},"VF_ENVIRONMENT_ALIAS":{"type":"string","description":"Voiceflow environment alias for runtime calls (`versionID` / v4 session). Unset defaults to `production` so existing agents keep working."},"VF_KB_API_KEY":{"type":"string","description":"API key for accessing the VF knowledge base, enabling advanced knowledge retrieval capabilities."},"voiceflowRuntimeMode":{"type":"string","enum":["legacy","auto","v4"],"description":"Controls which Voiceflow runtime path the agent should use."},"roundedImageURL":{"type":"string","description":"URL pointing to the rounded image asset used to visually represent the agent."},"rectangeImageURL":{"type":"string","description":"URL pointing to the rectangular image asset for the agent's branding or display."},"messageDelayMS":{"type":"number","description":"Specifies the delay in milliseconds for the agent to send messages, simulating natural conversation timing."},"scrollAnimation":{"type":"boolean","description":"Indicates whether scroll animations are enabled for smooth transitions in the chat interface."},"proactiveMessage":{"type":"string","description":"A predefined message the agent sends proactively to engage users."},"acceptFileUpload":{"type":"boolean","description":"Determines if the agent accepts file uploads from users as part of the interaction."},"recordChatHistory":{"type":"boolean","description":"Specifies whether the agent logs chat histories for future reference or analysis."},"chatBgURL":{"type":"string","description":"URL of the background image used in the chat interface."},"disableSmoothScroll":{"type":"boolean","description":"Disables smooth scrolling if set to true, potentially improving performance on low-end devices."},"isDeployed":{"type":"boolean","description":"Indicates whether the agent is currently deployed and operational."},"tokensUsage":{"description":"Tracks the token usage statistics for the agent, typically used in LLM integrations."},"maxTokensUsage":{"description":"Defines the maximum allowable token usage for the agent to prevent overconsumption."},"lastModified":{"type":"number","description":"The timestamp of the last modification made to the agent's configuration."},"fontFamily":{"type":"string","description":"The font family used in the agent's user interface for consistent branding."},"branding":{"type":"string","description":"Custom branding information or labels associated with the agent."},"customThemeJSONString":{"type":"string","description":"A JSON string defining a custom theme for the agent's interface."},"autoStartWidget":{"type":"boolean","description":"Determines if the widget should auto-start upon page load."},"allTimeTriggers":{"type":"number","description":"The total number of triggers or interactions the agent has handled."},"syncBrowser":{"type":"boolean","description":"Enables synchronization of settings or states with the browser session."},"delayBeforeSubmit":{"type":"number","description":"The delay (in milliseconds) before submitting user input to the agent."},"messageAggregationSeconds":{"type":"number","description":"Number of seconds the AI should wait and aggregate consecutive user messages (text + images) before triggering a single reply. Applies globally to all text-based channels (Web, WhatsApp, Instagram, Messenger, Telegram, SMS, Discord). Runtime default/floor is 5 seconds so image+follow-up text merge into one turn. Higher values further debounce; every new inbound message resets the wait timer."},"region":{"type":"string","enum":["eu","na"],"description":"Defines the geographical region settings for the agent, such as localization."},"listenForUrlChanges":{"type":"boolean","description":"Specifies if the agent should monitor and react to changes in the browser URL."},"chatForget":{"type":"boolean","description":"If enabled, the agent will not retain previous chat interactions for privacy reasons."},"lang":{"type":"string","description":"Specifies the default language for the agent's interactions and responses."},"enableAudioSupport":{"type":"boolean","description":"Enables audio features, allowing the agent to process and respond to audio inputs."},"AITranslateTo":{"type":"string","description":"Defines the target language for AI translation during interactions."},"enableAITranslate":{"type":"boolean","description":"Activates AI-based translation for multilingual support."},"disableNoReplyListener":{"type":"boolean","description":"Disables the listener for instances where no reply is detected from the agent."},"disableHumanHandoff":{"type":"boolean","description":"Prevents the agent from escalating interactions to a human operator."},"alwaysShowHandoff":{"type":"boolean","description":"Ensures the handoff option is always visible, regardless of agent status."},"manualControl":{"type":"boolean","description":"Allows manual control over specific agent functionalities."},"enableVGHandoff":{"type":"boolean","description":"Activates VG-specific handoff mechanisms for the agent."},"enableGeoAnalytics":{"type":"boolean","description":"Enables geographic analytics to track user interactions based on location."},"hideVoiceflowAnalytics":{"type":"boolean","description":"Hides Voiceflow-specific analytics including intents, conversation flow metrics, and rating analytics."},"hideCallAnalytics":{"type":"boolean","description":"Hides voice call analytics including duration, latency, cost breakdown, call counts, and call end reasons."},"hideConversationMetrics":{"type":"boolean","description":"Hides conversation metrics including user retention, conversation length, time retention, and engagement metrics."},"hideCustomAnalytics":{"type":"boolean","description":"Hides user-created custom charts and metrics from the analytics dashboard."},"hideVapiAnalytics":{"type":"boolean","description":"Hides VAPI-specific analytics including cost tracking and voice-related metrics."},"hideFunnelAnalytics":{"type":"boolean","description":"Hides the user engagement funnel chart that tracks progression from widget views to high engagement."},"hideHandoffAnalytics":{"type":"boolean","description":"Hides handoff analytics including accepted handover count, average response time, and average handling time metrics."},"fixedHandoffPopup":{"type":"boolean","description":"Ensures the handoff popup remains fixed in the interface."},"buttonsLayout":{"type":"string","enum":["horizontal","vertical","in-footer"],"description":"Defines the layout and style of buttons in the agent's interface."},"ADVANCED_customCSS":{"type":"string","description":"Specifies advanced custom CSS for overriding the default styling of the agent's interface."},"messagesLimit":{"type":"number","description":"Sets a cap on the number of messages the agent can exchange in a single session."},"whatsappToken":{"type":"string","description":"Token for authenticating and integrating with WhatsApp services."},"whatsappNumberId":{"type":"string","description":"The ID associated with the WhatsApp number used by the agent."},"whatsappBusniessId":{"type":"string","description":"The business ID for WhatsApp integration, enabling enterprise-level features."},"whatsappCustomBridge":{"type":"object","properties":{"enabled":{"type":"boolean","description":"When enabled, inbound WhatsApp webhooks are forwarded to a developer-provided server and the returned payload is sent back through WhatsApp."},"webhookUrl":{"type":"string","description":"Developer webhook URL that receives raw WhatsApp events and returns the outgoing WhatsApp payload to send."},"forwardToDeveloper":{"type":"boolean","description":"When enabled, the raw Meta webhook payload is forwarded to the developer URL with zero alteration. The developer response is sent directly to the WhatsApp API as-is, with no normalization or processing."}},"additionalProperties":false,"description":"Developer-focused WhatsApp bridge that bypasses the built-in agent reply flow."},"waTestNumber":{"type":"string","description":"A test number used during WhatsApp integration setup or testing."},"waVerifyPassed":{"type":"boolean","description":"Indicates if WhatsApp verification was successfully completed."},"waTestPassed":{"type":"boolean","description":"Indicates if the WhatsApp integration test was successful."},"twilioSmsAccountSid":{"type":"string","description":"Twilio Account SID for SMS integration."},"twilioSmsAuthToken":{"type":"string","description":"Twilio Auth Token for SMS integration (encrypted)."},"twilioSmsPhoneNumber":{"type":"string","description":"Twilio phone number for SMS integration."},"twilioSmsMode":{"type":"string","enum":["own_account","platform_rental"],"description":"Mode for Twilio SMS - using own account or platform rental."},"twilioSmsVerified":{"type":"boolean","description":"Indicates if the Twilio SMS integration is verified."},"twilioSmsPhoneNumberSid":{"type":"string","description":"Twilio IncomingPhoneNumber SID for platform rental numbers (used for releasing)."},"twilioSmsRentalSubscriptionId":{"type":"string","description":"Stripe subscription ID for platform rental SMS number billing."},"twilioSmsRentalStatus":{"type":"string","enum":["active","pending","cancelled","past_due"],"description":"Status of the SMS number rental subscription."},"webhookUrl":{"type":"string","description":"The URL where the agent sends webhook events to external systems."},"gcloudPrivateKey":{"type":"string","description":"Private key for Google Cloud services integration."},"gcloudClientEmail":{"type":"string","description":"Client email for Google Cloud authentication."},"smartInit":{"type":"boolean","description":"Activates smart initialization features for the agent."},"UIhandoffTitle":{"type":"string","description":"Title displayed during UI handoff interactions."},"UIhandoffSubtitle":{"type":"string","description":"Subtitle displayed during UI handoff interactions."},"igVerified":{"type":"boolean","description":"Indicates if the agent's Instagram integration is verified."},"igAccessToken":{"type":"string","description":"Access token for authenticating Instagram API requests."},"showHandoffEvenIfOffline":{"type":"boolean","description":"Displays the handoff option even if the agent is offline."},"persistHandoffOnRefresh":{"type":"boolean","description":"Maintains handoff state when users refresh or close their browser tabs."},"enableBugReporting":{"type":"boolean","description":"Enables bug reporting module in the conversation's controls."},"blockInputDuringHandoffRequest":{"type":"boolean","description":"Blocks chat input when a user requests human handoff but no human has been assigned yet. Only applies to VF agents."},"disableHandoffMessages":{"type":"boolean","description":"When enabled, the system will not send automatic messages when handoff occurs (e.g., 'Now chatting with John')."},"disableHandoffStatusMessages":{"type":"boolean","description":"When enabled, the system will not send status messages during handoff transitions (e.g., 'We are connecting you to a human', 'Handoff cancelled', 'No agent was available')."},"customButtonJSON_STRING":{"type":"string","description":"JSON string defining custom buttons for the agent's interface."},"vg_initPrompt":{"type":"string","description":"The initial prompt displayed or used by the VF system."},"vg_prompt":{"type":"string","description":"The main prompt template used for generating responses."},"vg_initMessages":{"type":"array","items":{"type":"string"},"description":"Initial messages loaded for the agent's conversation flow."},"vg_systemPrompt":{"type":"string","description":"System-level prompt defining the agent's behavior and rules."},"vg_temperature":{"type":"number","description":"Defines the temperature setting for response variability in the VF model."},"vg_defaultModel":{"type":"string","enum":["moonshotai/Kimi-K2-Instruct","moonshotai/Kimi-K3","moonshotai/Kimi-K2.6","moonshotai/Kimi-K2.5","moonshotai/Kimi-K2-Thinking","moonshotai/Kimi-K2.5-fast","zai-org/GLM-5.2","zai-org/GLM-5","zai-org/GLM-5.1","zai-org/GLM-4.7-FP8","zai-org/GLM-4.5","zai-org/GLM-4.5-Air","MiniMaxAI/MiniMax-M2.1","MiniMaxAI/MiniMax-M2.5","MiniMaxAI/MiniMax-M3","deepseek-ai/DeepSeek-V3.2","deepseek-ai/DeepSeek-V4-Pro","deepseek-ai/DeepSeek-V3.2-fast","deepseek-ai/DeepSeek-R1-0528","deepseek-ai/DeepSeek-R1-0528-fast","deepseek-ai/DeepSeek-V3-0324","deepseek-ai/DeepSeek-V3-0324-fast","Qwen/Qwen3.5-397B-A17B","Qwen/Qwen2.5-VL-72B-Instruct","Qwen/Qwen3-235B-A22B-Instruct-2507","Qwen/Qwen3-235B-A22B-Thinking-2507","Qwen/Qwen3-30B-A3B-Instruct-2507","Qwen/Qwen3-30B-A3B-Thinking-2507","Qwen/Qwen3-Coder-480B-A35B-Instruct","Qwen/Qwen3-Coder-30B-A3B-Instruct","Qwen/Qwen3-Next-80B-A3B-Thinking","Qwen/Qwen3-32B","Qwen/Qwen3-32B-fast","Qwen/Qwen2.5-Coder-7B-fast","meta-llama/Llama-3.3-70B-Instruct-fast","meta-llama/Llama-3.3-70B-Instruct","meta-llama/Meta-Llama-3.1-8B-Instruct","meta-llama/Meta-Llama-3.1-8B-Instruct-fast","nvidia/Llama-3_1-Nemotron-Ultra-253B-v1","nvidia/nemotron-3-super-120b-a12b","nvidia/NVIDIA-Nemotron-3-Nano-30B-A3B","google/gemma-3-27b-it","google/gemma-3-27b-it-fast","google/gemma-2-2b-it","google/gemma-2-9b-it-fast","openai/gpt-oss-120b","openai/gpt-oss-20b","NousResearch/Hermes-4-405B","NousResearch/Hermes-4-70B","PrimeIntellect/INTELLECT-3","gpt-5.6","gpt-5.6-terra","gpt-5.6-luna","gpt-5.4-thinking-latest","gpt-5.4","gpt-5.3-chat-latest","gpt-5.2-2025-12-11","gpt-5-chat-latest","gpt-5-2025-08-07","gpt-5-mini-2025-08-07","gpt-5-nano-2025-08-07","o1","o1-mini","o3-mini","azure-eu-gpt-4o","azure-na-gpt-4o","gpt-4o","gpt-4o-mini","gpt-4.5-preview-2025-02-27","gpt-4.1-2025-04-14","gpt-4.1-mini-2025-04-14","ft:gpt-4o-mini-2024-07-18:personal:4o-with-tools-t11:A6mByttv","gpt-3.5-turbo","grok-4.5","grok-3-fast","grok-3-mini","grok-2-latest","claude-opus-4-7","claude-opus-4-6","claude-opus-4-5-20251101","claude-opus-4-20250514","claude-sonnet-4-5-20250929","claude-haiku-4-5-20251001","claude-sonnet-4-20250514","claude-3-7-sonnet-20250219","claude-3-5-sonnet-20241022","claude-3-5-haiku-20241022","claude-3-opus-20240229","claude-3-sonnet-20240229","deepseek-chat","gemini-3.5-flash","gemini-3.1-pro-preview","gemini-3.1-flash-lite","gemini-3.1-flash-lite-preview","gemini-3-pro-preview","gemini-3-flash-preview","gemini-2.5-pro","gemini-2.5-pro-preview-03-25","gemini-2.5-pro-exp-03-25","gemini-2.5-flash","gemini-2.5-flash-lite","gemini-2.5-flash-lite-preview-09-2025","gemini-2.5-flash-preview-05-20","gemini-2.0-flash-thinking-exp-1219","gemini-2.0-flash-exp","gemini-1.5-pro","gemini-1.5-flash","gemini-1.0-pro","deepseek-r1-distill-llama-70b","meta-llama/llama-4-scout-17b-16e-instruct","meta-llama/llama-4-maverick-17b-128e-instruct","llama-3.3-70b-versatile","llama-3.1-8b-instant","llama3-70b-8192","gemma2-9b-it","gemma-4-31b-dense","gemma-4-26b-moe","gemma-7b-it","qwen-max-latest","qwen-plus-latest","qwen-turbo-latest","custom-llm"],"description":"Specifies the default LLM model used by the agent for language processing."},"vg_maxTokens":{"type":"number","description":"Sets the maximum token limit for generating responses."},"vg_kbDefaultDimension":{"type":"number","description":"Default dimensionality for the agent's knowledge base embeddings."},"vg_kbTopChunks":{"type":"number","description":"The number of top chunks retrieved from the knowledge base during a query."},"structuredSearchJobIds":{"type":"array","items":{"type":"string"},"description":"Schema-crawl job IDs indexed into Structured Search and attached to this agent."},"SECRET_API_KEY":{"type":"string","description":"The secret API key for secure integration with VF services."},"vg_kbCharCount":{"type":"number","description":"Tracks the total character count of the agent's knowledge base."},"vg_kbDocsNum":{"type":"number","description":"The total number of documents stored in the agent's knowledge base."},"vg_enableUIEngine":{"type":"boolean","description":"Activates the UI engine for enhanced interface capabilities."},"vg_uiEngineChannelConfig":{"type":"object","properties":{"whatsapp":{"type":"object","additionalProperties":{"type":"boolean"}},"instagram":{"type":"object","additionalProperties":{"type":"boolean"}},"messenger":{"type":"object","additionalProperties":{"type":"boolean"}},"telegram":{"type":"object","additionalProperties":{"type":"boolean"}},"web":{"type":"object","additionalProperties":{"type":"boolean"}}},"additionalProperties":false,"description":"Per-channel toggles for UI Engine message types (choice, visual, cardV2, file, …). Missing keys = enabled."},"vg_enableAboutContext":{"type":"boolean","description":"Enables contextual information about the agent for users."},"vg_kb_llm":{"type":"object","properties":{"searchMethod":{"anyOf":[{"type":"string","enum":["smart"]},{"type":"string","enum":["simple"]}]},"searchPrompt":{"type":"string"},"modelId":{"type":"string","enum":["moonshotai/Kimi-K2-Instruct","moonshotai/Kimi-K3","moonshotai/Kimi-K2.6","moonshotai/Kimi-K2.5","moonshotai/Kimi-K2-Thinking","moonshotai/Kimi-K2.5-fast","zai-org/GLM-5.2","zai-org/GLM-5","zai-org/GLM-5.1","zai-org/GLM-4.7-FP8","zai-org/GLM-4.5","zai-org/GLM-4.5-Air","MiniMaxAI/MiniMax-M2.1","MiniMaxAI/MiniMax-M2.5","MiniMaxAI/MiniMax-M3","deepseek-ai/DeepSeek-V3.2","deepseek-ai/DeepSeek-V4-Pro","deepseek-ai/DeepSeek-V3.2-fast","deepseek-ai/DeepSeek-R1-0528","deepseek-ai/DeepSeek-R1-0528-fast","deepseek-ai/DeepSeek-V3-0324","deepseek-ai/DeepSeek-V3-0324-fast","Qwen/Qwen3.5-397B-A17B","Qwen/Qwen2.5-VL-72B-Instruct","Qwen/Qwen3-235B-A22B-Instruct-2507","Qwen/Qwen3-235B-A22B-Thinking-2507","Qwen/Qwen3-30B-A3B-Instruct-2507","Qwen/Qwen3-30B-A3B-Thinking-2507","Qwen/Qwen3-Coder-480B-A35B-Instruct","Qwen/Qwen3-Coder-30B-A3B-Instruct","Qwen/Qwen3-Next-80B-A3B-Thinking","Qwen/Qwen3-32B","Qwen/Qwen3-32B-fast","Qwen/Qwen2.5-Coder-7B-fast","meta-llama/Llama-3.3-70B-Instruct-fast","meta-llama/Llama-3.3-70B-Instruct","meta-llama/Meta-Llama-3.1-8B-Instruct","meta-llama/Meta-Llama-3.1-8B-Instruct-fast","nvidia/Llama-3_1-Nemotron-Ultra-253B-v1","nvidia/nemotron-3-super-120b-a12b","nvidia/NVIDIA-Nemotron-3-Nano-30B-A3B","google/gemma-3-27b-it","google/gemma-3-27b-it-fast","google/gemma-2-2b-it","google/gemma-2-9b-it-fast","openai/gpt-oss-120b","openai/gpt-oss-20b","NousResearch/Hermes-4-405B","NousResearch/Hermes-4-70B","PrimeIntellect/INTELLECT-3","gpt-5.6","gpt-5.6-terra","gpt-5.6-luna","gpt-5.4-thinking-latest","gpt-5.4","gpt-5.3-chat-latest","gpt-5.2-2025-12-11","gpt-5-chat-latest","gpt-5-2025-08-07","gpt-5-mini-2025-08-07","gpt-5-nano-2025-08-07","o1","o1-mini","o3-mini","azure-eu-gpt-4o","azure-na-gpt-4o","gpt-4o","gpt-4o-mini","gpt-4.5-preview-2025-02-27","gpt-4.1-2025-04-14","gpt-4.1-mini-2025-04-14","ft:gpt-4o-mini-2024-07-18:personal:4o-with-tools-t11:A6mByttv","gpt-3.5-turbo","grok-4.5","grok-3-fast","grok-3-mini","grok-2-latest","claude-opus-4-7","claude-opus-4-6","claude-opus-4-5-20251101","claude-opus-4-20250514","claude-sonnet-4-5-20250929","claude-haiku-4-5-20251001","claude-sonnet-4-20250514","claude-3-7-sonnet-20250219","claude-3-5-sonnet-20241022","claude-3-5-haiku-20241022","claude-3-opus-20240229","claude-3-sonnet-20240229","deepseek-chat","gemini-3.5-flash","gemini-3.1-pro-preview","gemini-3.1-flash-lite","gemini-3.1-flash-lite-preview","gemini-3-pro-preview","gemini-3-flash-preview","gemini-2.5-pro","gemini-2.5-pro-preview-03-25","gemini-2.5-pro-exp-03-25","gemini-2.5-flash","gemini-2.5-flash-lite","gemini-2.5-flash-lite-preview-09-2025","gemini-2.5-flash-preview-05-20","gemini-2.0-flash-thinking-exp-1219","gemini-2.0-flash-exp","gemini-1.5-pro","gemini-1.5-flash","gemini-1.0-pro","deepseek-r1-distill-llama-70b","meta-llama/llama-4-scout-17b-16e-instruct","meta-llama/llama-4-maverick-17b-128e-instruct","llama-3.3-70b-versatile","llama-3.1-8b-instant","llama3-70b-8192","gemma2-9b-it","gemma-4-31b-dense","gemma-4-26b-moe","gemma-7b-it","qwen-max-latest","qwen-plus-latest","qwen-turbo-latest","custom-llm"]},"temprature":{"type":"number"},"maxTokens":{"type":"number"}},"additionalProperties":false,"description":"Configuration for LLM-based knowledge base queries, including search methods and model parameters."},"vg_enableUIEngineForms":{"type":"boolean","description":"Enables form and input components in the UI engine for web channel."},"vg_enableUIEngineInvoice":{"type":"boolean","description":"Enables the invoice card component in the UI engine for web channel."},"vg_uiEngineInvoiceConfig":{"type":"object","properties":{"notifyOnButtonClick":{"type":"boolean","description":"When true, invoice action button clicks send a notification email to notifyEmails (chat summary + invoice + contact + convo link)."},"notifyEmails":{"type":"array","items":{"type":"string"},"description":"Recipients for invoice button-click notifications. Defaults to workspace emails in the UI; may be edited freely."}},"additionalProperties":false,"description":"Post-booking/payment notification config for the UI engine invoice card (shown under Enable UI Engine Invoice)."},"vg_enableUIEngineCalendarBooking":{"type":"boolean","description":"Enables the interactive calendar booking widget in the UI engine for web channel."},"vg_uiEngineCalendarConfig":{"type":"object","properties":{"connectionId":{"type":"string","description":"Google Calendar connection ID used for availability + booking."},"calendarId":{"type":"string","description":"Calendar ID within the connected Google account to book against."},"timezoneMode":{"anyOf":[{"type":"string","enum":["auto"]},{"type":"string","enum":["fixed"]}],"default":"auto","description":"Whether to auto-detect the visitor timezone or always use a fixed timezone."},"fixedTimezone":{"type":"string","description":"IANA timezone to use when timezoneMode is \"fixed\"."},"defaultDurationMinutes":{"type":"number","default":30,"description":"Default meeting duration in minutes."},"bufferMinutes":{"type":"number","description":"Buffer time (minutes) to leave between booked events."},"daysAhead":{"type":"number","description":"How many days ahead visitors are allowed to book."},"suggestedFields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"}},"required":["id","type","label"],"additionalProperties":false},"description":"Suggested confirmation fields (e.g. name, email) collected after a slot is picked."}},"additionalProperties":false,"description":"Configuration for the UI engine calendar booking widget (connection, duration, timezone, suggested fields)."},"vg_max_messages_history":{"type":"number","description":"Maximum number of messages retained in the chat history."},"ifKnowsThreshold":{"type":"number","description":"Confidence threshold for determining if the agent 'knows' an answer."},"avatarImageUrl":{"type":"string","description":"URL of the avatar image representing the agent."},"headerImageUrl":{"type":"string","description":"URL of the header image displayed in the chat interface."},"bannerImageUrl":{"type":"string","description":"URL of the banner image used in the agent's branding."},"soundEffectUrl":{"type":"string","description":"URL of the sound effect file used for agent interactions."},"soundEffectEnabled":{"type":"boolean","description":"Enables or disables sound effects for the agent."},"enableQuickFileUpload":{"type":"boolean","description":"Allows quick file uploads during chat interactions."},"instagramOptions":{"type":"object","properties":{"pageId":{"type":"string"},"accessToken":{"type":"string"}},"additionalProperties":false},"translateUserResponse":{"type":"boolean"},"starred":{"type":"boolean"},"flowise":{"type":"object","properties":{"webhookUrl":{"type":"string"},"webhookSecret":{"type":"string"}},"additionalProperties":false},"vfSettings":{"type":"object","properties":{"enableIgnoreUrlPaths":{"type":"boolean"}},"additionalProperties":false},"vapi":{},"vapiConfig":{"type":"object","properties":{"syncKbOnSave":{"type":"boolean"},"PUBLIC_API_KEY":{"type":"string"},"PRIVATE_API_KEY":{"type":"string"},"enableVapiOnWeb":{"type":"boolean"},"overrideWithVG":{"type":"boolean"},"promptOnWeb":{"type":"boolean"},"maxCostMonthly":{"type":"number"},"maxMinutesMonthly":{"type":"number"},"useVfProject":{"type":"boolean"},"syncTools":{"type":"boolean"}},"additionalProperties":false},"vgOptions":{"type":"object","properties":{"isLlmStudio":{"type":"boolean"},"showSources":{"type":"boolean"},"lightUiEngine":{"type":"boolean"},"legacyKb":{"type":"boolean"},"maxChunkSize":{"type":"number"},"handoffTimeout":{"type":"number"}},"additionalProperties":false},"ui":{"type":"object","properties":{"showWhatsappButtonOnWeb":{"type":"boolean","description":"Show little whatsapp button on web if it's connected."},"bgImageVisible":{"type":"boolean"},"widgetType":{"anyOf":[{"type":"string","enum":["direct-chat"]},{"type":"string","enum":["tabs"]}]},"enableFixedFeedbackBtns":{"type":"boolean"},"switchConversationSides":{"type":"boolean"},"switchDashboardOnly":{"type":"boolean"},"disableMessageMotion":{"type":"boolean","description":"When true, disables framer enter/exit animation on chat messages."},"showRuntimeSteps":{"type":"boolean","description":"When true, show thinking / tool / debug steps to end users (not only in tester)."},"streamSpeed":{"type":"number","minimum":1,"maximum":10,"description":"How fast bot text streams in the widget (1 slow … 10 fast). Applies to all turns."},"voice":{"type":"object","properties":{"question":{"type":"string"},"continueBtnLabel":{"type":"string"},"dismissBtnLabel":{"type":"string"},"disableVoiceOrb":{"type":"boolean"},"voiceOnlyMode":{"type":"boolean"},"disableChatWhenVoiceOpen":{"type":"boolean"}},"required":["question","continueBtnLabel","dismissBtnLabel"],"additionalProperties":false}},"additionalProperties":false},"assignedToolsIds":{"type":"array","items":{"type":"string"}},"tools":{"type":"array","items":{"type":"object","properties":{"isDefault":{"type":"boolean","description":"Indicates whether this tool is the default tool for the agent. Defaults to false if unspecified."},"method":{"type":"string","enum":["GET","POST","PUT","PATCH"],"description":"The HTTP method used by this tool. Acceptable values are 'GET', 'POST', 'PUT', or 'PATCH'. Defaults to 'POST' if unspecified."},"id":{"type":"string","description":"A unique identifier for the tool. Ensures distinct identification within the system."},"name":{"type":"string","description":"The name of the tool, providing a human-readable identifier for display purposes."},"description":{"type":"string","description":"A detailed description of the tool's purpose and functionality. Helps users understand its role within the agent."},"serverUrl":{"type":"string","description":"The server URL where the tool's operations are performed. Used for network-based integrations."},"serverUrlSecret":{"type":"string","description":"A secret token or key associated with the server URL. Provides secure access to the tool's backend services."},"createdAt":{"type":"string","description":"The timestamp when the tool was created, formatted as an ISO 8601 string. Useful for tracking tool lifecycle."},"updatedAt":{"type":"string","description":"The timestamp when the tool was last updated, formatted as an ISO 8601 string. Useful for versioning and auditing."},"disabled":{"type":"boolean","description":"Indicates whether the tool is currently disabled. A disabled tool cannot be used by the agent."},"isVapiTool":{"type":"boolean","description":"Indicates whether the tool is a Virtual API (VAPI) tool. VAPI tools enable interaction with external APIs."},"vapiId":{"type":"string","description":"A unique identifier for the VAPI associated with this tool. Used for integration with specific API endpoints."},"isGlobal":{"type":"boolean","description":"If true, this tool is globally accessible to all nodes and agents. Overrides context-specific restrictions."},"variablesIds":{"type":"array","items":{"type":"string"},"description":"An array of variable IDs associated with the tool. Each ID maps to a specific variable used by the tool."},"agentId":{"type":"string","description":"The unique identifier of the agent associated with this tool. Helps in linking the tool to a specific agent."},"userId":{"type":"string","description":"The unique identifier of the user associated with this tool. Used for user-specific configurations and access control."},"backchannellingPhrases":{"type":"array","items":{"type":"string"},"description":"An array of phrases used for backchannel communication. These phrases help in maintaining conversational flow."},"toolsSettings":{},"fields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier for the field, ensuring it is distinct across the system."},"in":{"type":"string","description":"Defines the location or context in which the field is utilized. Common values include 'query', 'body', or 'header'."},"type":{"type":"string","enum":["string","number","boolean","system"],"description":"Specifies the variable type of the field. Acceptable values include 'string', 'number', 'boolean', and 'system'."},"value":{"description":"The current assigned value of the field. This value is optional and supports any type depending on the field's context."},"defaultValue":{"description":"A predefined value assigned to the field when no specific value is provided. Useful for ensuring consistent behavior."},"key":{"type":"string","description":"The unique key that identifies this tool field or variable. Often used for referencing the field programmatically."},"description":{"type":"string","description":"A detailed explanation of the field's purpose and usage. Helps users understand the field's role in the system."},"required":{"type":"boolean","description":"Indicates whether the presence of this field is mandatory for successful operation. Defaults to false if unspecified."},"reusable":{"type":"boolean","description":"Denotes whether this field can be reused across multiple contexts or tools. Useful for reducing redundancy."},"isEnv":{"type":"boolean","description":"Specifies if this field represents an environment variable, typically used for configuration or deployment."},"isSystem":{"type":"boolean","description":"Indicates whether this field is a system-level variable, reserved for core operations or internal use."},"isGlobal":{"type":"boolean","description":"If enabled, this field remains globally accessible to the agent across all operational contexts. Useful for global constants."},"agentId":{"type":"string","description":"References the unique identifier of the agent associated with this field. Helps in mapping fields to specific agents."},"userId":{"type":"string","description":"References the unique identifier of the user associated with this field. Useful for user-specific customizations."}},"required":["id"],"additionalProperties":false}},"channels":{"type":"array","items":{"type":"string","enum":["web-chat","whatsapp","instagram","telegram","discord","gb-chat","vapi","messenger","voice","telephony","outlook","zoho","sms"]},"description":"The channels that the tool can be used on."}},"required":["id","name","description"],"additionalProperties":false}},"internal":{"type":"object","properties":{"accountCreationConfig":{"type":"string","enum":["v2"]},"websocketServer":{"anyOf":[{"type":"string","enum":["edge"]},{"type":"string","enum":["nodejs"]}]},"setOnResponse":{"type":"boolean"},"enableSetOnLoad":{"type":"boolean"},"voiceflowResolvedRuntime":{"type":"string","enum":["legacy","v4"]}},"additionalProperties":false},"disableAutoTranscribeAudio":{"type":"boolean"},"enableMessagingVoiceNoteReply":{"type":"boolean"},"disableTranscriptSharing":{"type":"boolean"},"instaAgentUsername":{"type":"string"},"convoTags":{"type":"array","items":{"type":"string"}},"vfConfig":{"type":"object","properties":{"alwaysEnableCardButtons":{"type":"boolean"}},"additionalProperties":false},"discord":{"type":"object","properties":{"channelIds":{"type":"array","items":{"type":"string"}},"webhookUrls":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"limits":{"type":"object","properties":{"maxInteractionsPerUserId":{"type":"number"},"enableTextIpRateLimit":{"type":"boolean"},"maxTextInteractionsPerIp":{"type":"number"},"textIpRateLimitWindowHours":{"type":"number"},"maxAnnualCreditsUsage":{"type":"number"},"maxMonthlyCreditsUsage":{"type":"number"},"maxMessages":{"type":"number","description":"Maximum number of messages allowed per conversation"},"maxMessagesRetentionDays":{"type":"number","description":"Retention period in days for messages"},"inactiveChatRetentionDays":{"type":"number","description":"Auto-delete inactive chats after this many days (0 disables, default 90)"},"analyticsRetentionDays":{"type":"number","description":"Auto-delete orphaned analytics data points after this many days (0 disables, default 90)"}},"additionalProperties":false},"tabs":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","enum":["home","convos","faq"]},"label":{"type":"string"},"iconUrl":{"type":"string"},"iframeUrl":{"type":"string"},"iframeHeight":{"type":"number"},"hide":{"type":"boolean"},"homeSpecific":{"type":"object","properties":{"buttons":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string"},"label":{"type":"string"},"iconUrl":{"type":"string"},"show":{"type":"
[...]
